<div class="modal-header">
	{% block modal_header %}
		<h5 class="modal-title">
			{% block modal_title %}
				{{ strings.modal_title|default('Shield Modal Title') }}
			{% endblock %}
		</h5>
		{% block modal_title_button_close %}
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		{% endblock %}
	{% endblock %}
</div>
<div class="modal-body">
	{% block modal_body %}
		{{ strings.modal_title|default('No modal body yet') }}
	{% endblock %}
</div>
<div class="modal-footer">
	{% block modal_footer %}
	{% endblock %}
</div>