{% extends '/wpadmin_pages/base.twig' %}

{% block h1heading %}<h1>{{ strings.page_title }}</h1>{% endblock %}

{% block page_head %}
{% endblock %}

{% block page_main %}
	<div class="row">
		{#<div class="col-6">#}
			{#{% include '/wpadmin_pages/insights_new/original/title.twig' %}#}
		{#</div>#}
		<div class="col-12">
			{% include '/wpadmin_pages/insights_new/original/stats.twig' %}
		</div>
	</div>
	<div class="row">
		<div class="col-lg-7">
			{% include '/wpadmin_pages/insights_new/original/notices.twig' %}
		</div>
		<div class="col-lg-5">
			{% include '/wpadmin_pages/insights_new/notes/admin_notes.twig' %}
		</div>
	</div>
	<div class="row">
		<div class="col-lg-7">
			{% include '/wpadmin_pages/insights_new/audit/audit_trail.twig' %}
		</div>
		<div class="col-lg-5">
			{% include '/wpadmin_pages/insights_new/original/recent_events.twig' %}
		</div>
	</div>
	<div class="row">
		<div class="col">
		</div>
	</div>
{% endblock %}

{% block page_foot %}
	{% include '/wpadmin_pages/insights_new/original/mod_summary.twig' %}
{% endblock %}

{% block inline_styles %}
	<style>
		#odp-body-container {
			font-size: 13px;
		}
		.insights_widget.card {
			border: 1px solid rgba(0, 0, 0, 0.1);
			border-radius: 3px;
			box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.07);
			padding: 0 0 3px 0;
			max-width: 100%;
		}
		.insights_widget .card-body {
			padding: 0 0 0 0;
		}
		.overflow_container {
			max-height: 350px;
			overflow-x: hidden;
			overflow-y: auto;
			padding-bottom: 1rem;
		}
		.overflow_inner {
			padding: 1rem;
		}
		.overflow_inner dl {
			margin-bottom: 1px;
		}
		.title_row th,
		.title_row td {
			background-color: #fbfbfb;
		}
		.message_row th,
		.message_row td {
			border-top: 1px solid #e9edf1; /** make bootstrap border lighter */
		}
		td.cell_delete_note {
			max-width: 20px;
		}
		.icon-sign {
			font-size: 14px;
		}
		#NewAdminNote textarea {
			height: 64px;
		}
		.btn.note_delete {
			padding: 0.1rem 0.3rem 0.3rem;
			line-height: 9px;
		}
		#SectionAuditTrail table {
			font-size: 12px;
		}
		#wpbody-content {
			padding-bottom: 0;
		}
		#wpfooter {
			display: none;
		}
		#odp-PageFoot {
			position: sticky;
			bottom: 0;
			z-index: 2;
			margin-top: 30px;
		}
		#SectionStats {
		}
		.stat.card {
			text-align: center;
			padding: 0;
		}
		.stat.card .card-body {
			font-size: 18px;
		}
		#ModSummary {
			border-bottom: 1px solid #aaaaaa;
			border-top: 1px solid #aaaaaa;
			background-color: #ffffff;
		}
		table td.mod-summary {
			height: 52px;
			text-align: center;
		}
		table td.mod-summary:hover {
			background-color: #f0f0f0;
		}
		.mod-summary > a {
			width: 32px;
			height: 32px;
			margin: auto;
			display: inline-block;
		}
		.mod-summary > a:hover {
			background-color: #f6f6f6;
		}
		.mod-summary.state-enabled > a {
			color: rgba(69, 119, 0, 1);
		}
		.mod-summary.state-disabled > a {
			color: rgba(173, 84, 0, 0.85);
		}
		.mod-icon {
			font-size: 32px;
			display: block;
		}
		.mod-icon:hover {
			text-decoration: none;
		}
		.mod-plugin .mod-icon:before {
			content: "\f111";
		}
		.mod-admin_access_restriction .mod-icon:before {
			content: "\f332";
		}
		.mod-firewall .mod-icon:before {
			content: "\f479";
		}
		.mod-user_management .mod-icon:before {
			content: "\f307";
		}
		.mod-hack_protect .mod-icon:before {
			content: "\f153";
		}
		.mod-headers .mod-icon:before {
			content: "\f163";
		}
		.mod-login_protect .mod-icon:before {
			content: "\f112";
		}
		.mod-comments_filter .mod-icon:before {
			content: "\f125";
		}
		.mod-autoupdates .mod-icon:before {
			content: "\f463";
		}
		.mod-lockdown .mod-icon:before {
			content: "\f160";
		}
		.mod-audit_trail .mod-icon:before {
			content: "\f115";
		}
		.mod-traffic .mod-icon:before {
			content: "\f177";
		}
		.mod-ips .mod-icon:before {
			content: "\f230";
		}
		.mod-license .mod-icon:before {
			content: "\f525";
		}
	</style>


	<script type="text/javascript">
		jQuery( document ).ready( function () {
			jQuery( '.stat.card' ).tooltip( {
				placement: 'bottom',
				trigger: 'hover'
			} );
		} );
	</script>
{% endblock %}