<div class="card mt-3">
	<div class="card-body p-0">
		<div class="row">
			<div class="col-12">
				<div class="alert alert-warning m-0">
					<h6 class="alert-heading">{{ strings.not_available }}</h6>
					<p class="mb-0">
						<a href="{{ hrefs.go_pro }}" target="_blank" class="alert-link">{{ strings.please_upgrade }}</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>