<style>
	table.diff.diff-wrapper tbody tr td:nth-child(2) {
	  width: auto;
  }
  table.diff.diff-wrapper {
	  table-layout: auto;
  }
	{{ default_css|raw }}
</style>
<div class="row">
	<div class="col">
		{{ content|raw }}
	</div>
</div>