{# https://github.com/tomik23/circular-progress-bar #}
<div class="row row-cols-1 justify-content-center">
	<div class="col mb-4">
		{{ content.primary_meter|raw }}
  </div>
</div>
<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-2 justify-content-start">
	{% for meter in content.meters %}
		<div class="col mb-4">
			{{ meter|raw }}
    </div>
	{% endfor %}
</div>