{% extends '/pages/block/block_page_standard.twig' %}

{% block page_actions %}

	<div class="row">
		<div class="col-lg-6 col-md-9 mx-auto mb-3">
			{% include '/pages/block/components/recovery_launcher.twig' %}
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 offset-md-4 mb-3">
			<div class="alert alert-secondary">
				{{ strings.contact_admin }}
			</div>
		</div>
	</div>

{% endblock %}

{% block pre_body_close %}
	{% include '/pages/block/components/recovery_modal.twig' %}
{% endblock %}
