{% extends '/pages/block/block_page_standard.twig' %}

{% block page_actions %}

	<div class="row">
		<div class="col-lg-6 col-md-9 mx-auto mb-3">
			{% include '/pages/block/components/recovery_launcher.twig' %}
		</div>
	</div>

	<div class="row">
		<div class="col-md-3 offset-md-3 mb-3">
			<div class="alert alert-secondary">
				{{ strings.contact_admin }}
			</div>
		</div>

		{% if not flags.is_whitelabelled %}
			<div class="col-md-3 mb-3">
				<div class="alert alert-secondary">
					If you're the website administrator,
					<a href="{{ hrefs.how_to_unblock }}" target="_blank">please review this guide</a>.
				</div>
			</div>
		{% endif %}
	</div>

{% endblock %}

{% block pre_body_close %}
	{% include '/pages/block/components/recovery_modal.twig' %}
{% endblock %}
