
<div class="row">
	<div class="col-12">
		{% if flags.can_traffic %}
			{% if not flags.is_enabled %}
				<div class="alert alert-success">
					<h6 class="alert-heading">{{ strings.not_enabled }}</h6>
					<p class="m-0"><a class="alert-link" href="{{ hrefs.please_enable }}">{{ strings.please_enable }}</a></p>
				</div>
			{% endif %}
			{% include '/wpadmin_pages/insights/traffic/traffic_table.twig' %}
		{% else %}
			{% include '/wpadmin_pages/insights/common/feature_unavailable.twig' %}
		{% endif %}
	</div>
</div>