<select class="select2picker module_select"
		title="{{ strings.jump_to_module }}"
		data-size="10"
		onchange="location = this.value;"
		style="max-width: 100%; width: 100%">
	<option value="">
		-- Select Module --
	</option>
	{% for mod in vars.mods %}
		{% if mod.show_mod_opts %}
			<option value="{{ mod.href }}"
					{% if vars.active_module_settings|default('') == mod.slug %}disabled{% endif %}>
				{{ mod.name }}
			</option>
		{% endif %}
	{% endfor %}
</select>