<select onchange="location = this.value;">
	<option value="#">{{ strings.jump_to_module }} &blacktriangledown;</option>
	{% for mod in vars.mods %}
		{% if mod.show_mod_opts %}
			<option value="{{ mod.href }}"
					{% if vars.active_module_settings|default('') == mod.slug %}disabled{% endif %}
			>
				{% if vars.active_module_settings|default('') == mod.slug %}Current - {% endif %}
				{{ mod.name }}
			</option>
		{% endif %}
	{% endfor %}
</select>