<div id="AptoOptionsToast"
	 class="toast shield-toaster"
	 role="alert" aria-live="assertive" aria-atomic="true">
	<div class="toast-header">
		{#<img src="#" class="rounded me-2" alt="...">#}
		<strong class="me-auto">{{ strings.title }}</strong>
		<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
	</div>
	<div class="toast-body"></div>
</div>