.shield-section-datatable .dtsp-panesContainer {
	margin-bottom: 3px;
}
.shield-section-datatable div.dtsp-panesContainer div.dtsp-title {
	padding: 6px;
}
.shield-section-datatable div.dtsp-panesContainer div.dtsp-titleRow {
	display: none;
}
.shield-section-datatable div.dtsp-panesContainer div.dtsp-titleRow > button {
	font-size: 12px;
	padding: 5px;
}
.shield-section-datatable div.dtsp-panesContainer div.dtsp-searchPanes div.dtsp-searchPane {
	margin-top: 0 !important;
}
.shield-section-datatable div.dataTables_paginate {
	float: right;
}
.shield-section-datatable div.dataTables_filter {
	text-align: right;
	display: block;
	clear: both;
}
th.date {
	width: 130px !important;
	min-width: 130px !important;
	max-width: 130px !important;
}
td.meta,
th.meta {
	width: 40px !important;
	max-width: 40px !important;
}
td.ip_linked a.ipv6 {
	letter-spacing: -1px;
}
th.ip_linked,
td.ip_linked {
	max-width: 150px !important;
}
.shield-section-datatable th.severity {
	padding: 0.5rem 0.2rem;
	text-align: center;
}
td.severity,
th.severity {
	text-align: center;
	width: 40px !important;
	max-width: 40px !important;
}
th.message,
td.message {
	min-width: 200px !important;
	max-width: 400px !important;
}
#apto-PageMainBody-Inner td.message > p {
	font-size: 12px;
	overflow: auto;
	max-height: 100px;
	word-break: break-word;
}
td.message > .message-header {
	font-weight: bolder;
	display: block;
}
td.severity .severity-icon.severity-alert {
	color: #d40000;
}
td.severity .severity-icon.severity-warning {
	color: #c18c2a;
}
td.severity .severity-icon.severity-notice {
	color: #0303ab;
}
td.severity .severity-icon.severity-info {
	color: #039aab;
}
td.severity .severity-icon.severity-debug {
	color: grey;
}
td.severity .severity-icon > svg {
	margin-top: 10px;
	width: 32px;
	height: 32px;
}
.shield-section-datatable .popover .popover-body li {
	margin-bottom: 4px;
}
.shield-section-datatable .dtsp-title {
	font-weight: bolder;
}
.shield-section-datatable div.dtsp-topRow.dtsp-bordered:hover {
}
.shield-section-datatable table.dataTable.table-striped > tbody > tr.selected > * {
	background-color: #bad3ba;
	box-shadow: none;
	color: inherit;
}
.shield-section-datatable table.dataTable.table-striped > tbody > tr.odd.selected > * {
	background-color: #9db69d;
}

td.page code {
	color: #4120a2;
	display: block;
	font-size: 0.9rem;
	background-color: transparent; /* rgba(245, 245, 245, 0.8); */
	word-break: break-all;
}

td.user a[target="_blank"]::after,
td.ip_linked a[target="_blank"]::after {
	content: none !important;
}