p > label {
	width: 100%;
}
#btn_u2f_start {
	padding: .1875rem .3125rem;
	margin: 0 0 16px 0;
	width: 100%;
	line-height: 1.4;
	font-size: 24px;
	box-shadow: 0 0 0 transparent;
	border-radius: 4px;
	border: .0625rem solid #8c8f94;
	cursor: pointer;
}
input[type="text"].u2f-replacement {
	text-align: center;
	background-color: #f0f0f0;
	cursor: not-allowed;
}
input[type="text"][name="icwp_wpsf_yubi_otp"] {
	font-size: 12px;
	width: 100%;
}