{% set rail_status = step.color_key %}

<aside class="operator-context-rail status-{{ rail_status }}" data-operator-context-rail="1">
	<div class="operator-context-rail__body" data-operator-context-rail-body="1"></div>
</aside>
