<aside class="operator-context-rail"
	   data-operator-context-rail="1"
	   data-shield-tour="context-box"
	   data-context-mode="{{ mode|default('') }}">
	<div class="operator-context-rail__body" data-operator-context-rail-body="1"></div>
</aside>
