{% set strip_data = strip|default({}) %}
{% set strip_label = strip_data.label|default('') %}
{% set strip_badge = strip_data.badge|default('') %}
{% set strip_badge_status = strip_data.badge_status|default('info') %}

<button type="button"
		class="drill-strip"
		data-drill-strip="1"
		aria-label="Back to {{ strip_label|e('html_attr') }}">
	<i class="bi bi-arrow-left drill-strip__back" aria-hidden="true"></i>
	<span class="drill-strip__title">{{ strip_label }}</span>
	{% if strip_badge is not empty %}
		<span class="drill-strip__badge shield-badge badge-{{ strip_badge_status|e('html_attr') }}">{{ strip_badge }}</span>
	{% endif %}
</button>
