<div class="drill-shell"
	 data-drill-shell="1"
	 data-drill-shell-mode="{{ shell.mode|e('html_attr') }}"
	 data-drill-shell-id="{{ shell.id|e('html_attr') }}">
	{% for shell_layer in shell.layers %}
		{% set layer_index = loop.index0 %}
		{% set layer_state = 'hidden' %}
		{% if layer_index == shell.active_index %}
			{% set layer_state = 'active' %}
		{% elseif layer_index < shell.active_index %}
			{% set layer_state = 'compact' %}
		{% endif %}
		{% include '/wpadmin/components/page/drill_down_layer.twig' with {
			layer: shell_layer|merge({
				index: layer_index,
				mode: shell.mode,
				state: layer_state
			})
		} only %}
	{% endfor %}
</div>
