<div class="mt-4 mb-3 logo-container">
	<a href="{{ hrefs.plugin_home }}" class="page-header-item d-block text-center" target="_blank">
		<img class="navbar-brand"
		     src="{{ imgs.logo_small }}"
		     id="navbar-bannerlogo"
		     style=""
		     alt="Shield Logo" />
	</a>
</div>
