{% extends 'wizard/slides/common/base_finish.twig' %}

{% block slide_body_top %}
	{{ slideMacros.slideTitle( 'Finished: Unrecognised File Scanner' ) }}
	<p>This is the end of Shield Security's Unrecognised File Scanner Wizard.</p>
{% endblock %}