{% extends 'wizard/slides/common/base_finish.twig' %}

{% block slide_body_top %}
	{{ slideMacros.slideTitle( "Finished: Shield's GDPR Data Wizard" ) }}
	<p>This is the end of Shield's GDPR Data Wizard.</p>
{% endblock %}