{% extends 'wizard/slides/common/base.twig' %}

{% block slide_body %}
	{{ slideMacros.slideTitle( 'GDPR Search Results' ) }}

	{% if flags.has_search_items %}


	{% else %}
		<div class="alert alert-warning" role="alert">
			<p>There were no search items.</p>
			<p>Please go back to the previous step and supply your search items.</p>
		</div>
	{% endif %}
{% endblock %}