{% extends 'wizard/slides/common/base.twig' %}

{% block slide_body %}

<h3>Comment SPAM</h3>
<h4>Quick Summary:</h4>
<p>Shield can block 100% of automated Comment SPAM sent by "bots". You can turn it on below.</p>
<h4>The Details:</h4>
<p>99%+ of comments spam is by automated bots. You get some human SPAM too, of course.</p>
<p>Shield Security offers a couple of highly effective techniques to block bot spam.
   Also, and unlike Akismet, we never send your private comment data to 3rd parties for
   processing. You keep it all in-house - i.e. it stays on your own website.
</p>
<p>We also offer Google reCAPTCHA for comments, but you'll need to setup some API keys for this first, so we'll
   leave you to do that later.</p>
<p>There's also an option to protect against Human SPAMmers. But again, to get
   you going, we'll leave you to set that up later if you wish.</p>

<h4>Turn On/Off Comment SPAM Protection Feature</h4>
<form class="form-horizontal icwp-wizard-form">
	<input name="wizard-step" value="comments_filter" type="hidden" />
	<div class="form-group">
		<label class="col-md-4 control-label" for="CommentsFilterOption">Comment SPAM Filter:</label>
		<div class="col-md-8">
			<div class="radio">
				<label>
					<input type="radio" name="CommentsFilterOption" id="AuditTrailOn" value="Y">
					<span>Turn On</span> - Block comments SPAM by bots
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="CommentsFilterOption" id="AuditTrailOff" value="N">
					<span>Turn Off</span> - Do not block comments SPAM by bots
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-4 col-md-8">
			<button type="submit" class="btn btn-primary">Update The Comment SPAM Setting</button>
		</div>
	</div>
</form>

{% endblock %}