{% extends 'wizard/slides/common/base.twig' %}

{% block slide_body %}
	{{ slideMacros.slideTitle( 'Comment SPAM' ) }}

<h5>Quick Summary:</h5>
<p>Shield can block 100% of automated Comment SPAM sent by "bots". You can turn it on below.</p>

<h5>The Details:</h5>
<p>99%+ of comments spam is by automated bots. You get some human SPAM too, of course.</p>
<p>Shield Security offers a couple of highly effective techniques to block bot spam.
   Also, and unlike Akismet, we never send your private comment data to 3rd parties for
   processing. You keep it all in-house - i.e. it stays on your own website.
</p>
<p>We also offer Google reCAPTCHA for comments, but you'll need to setup some API keys for this first, so we'll
   leave you to do that later.</p>
<p>There's also an option to protect against Human SPAMmers. But again, to get
   you going, we'll leave you to set that up later if you wish.</p>

<h4>Turn On/Off Comment SPAM Protection Feature</h4>
<form class="form-horizontal icwp-wizard-form">

	{% set radiovalues =
		{
			'Y': '<span>Turn On</span> - Block automated comments SPAM by bots',
			'N': '<span>Turn Off</span> - Do not block automated comments SPAM'
		}
	%}
	{{ slideMacros.formInput_Radio( 'CommentsFilterOption', radiovalues, 'Comment SPAM Blocking' ) }}

	{{ slideMacros.formInput_Hidden( 'wizard-step', 'comments_filter' ) }}
	{{ slideMacros.formInput_Submit( 'Set Comment SPAM Protection' ) }}
</form>

{% endblock %}