{% extends '/wizard/slides/welcome/base.twig' %}

{% block slide_body_video_section_blurb %}
	<h5>Watch the quick (45s) explanatory video</h5>
	<p>All webhosts are configured a bit differently.
			   This can make it tricky to detect a visitor's IP address correctly.</p>
	<p>We try to do this automatically, of course, but sometimes a server configuration
			   can be... unexpected.</p>
	<p>To solve this, you can tell Shield what your IP address is right now,
			   and this will help Shield determine the best method of detecting the visitor IP.</p>
{% endblock %}

{% block slide_body_action_area %}

	<form class="form-horizontal icwp-wizard-form">

		<div class="form-group row">
			<div class="col-4">
				Step 1: Find <em>your</em> current IP address
			</div>
			<div class="col-8">
				<a href="{{ hrefs.visitor_ip }}" target="_blank">Click here</a>
				to open up a new page that will tell you your current IP Address.
			</div>
		</div>

		<div class="form-group row">
			<div class="col-4">
				Step 2: Tell Shield your IP address
			</div>
			<div class="col-8">
				<input name="ip" type="text" id="ip" placeholder="123.456.789.012" class="regular-text">
				<br />Copy-paste the IP address from Step 1
			</div>
		</div>

		{{ icwp_macros.formInput_Submit2( 'Confirm My IP Address', null, null, true ) }}
		{{ icwp_macros.formInput_Hidden( 'wizard-step', vars.step ) }}
	</form>

{% endblock %}