{% extends 'wizard/slides/common/base.twig' %}

{% block slide_body %}
	{{ slideMacros.slideTitle( 'Automatic IP Blacklist' ) }}

	<p>Turn on the IP Manager below so Shield can automatically limit login attempts and block automated attacks.</p>

	<h6 class="more_details">
		<a class="btn btn-link" data-toggle="collapse" data-target=".more_details_body">
			Click For More Details &rarr;</a>
	</h6>
	<div id="MoreDetails" class="collapse more_details_body">
		<div class="card card-body">
			<p>Many security plugins offer the option of blacklisting IP addresses.
			   But the big secret they're not telling you is that this is complete waste of your time.</p>
			<p>Can you think of anything you'd rather be doing, than getting 100s of email notifications and then
			   having to add 100 IP addresses to a blacklist?</p>
			<p>Shield's automatic IP Manager will track bad behaviour, and automatically block repeat offenders.
			   But not permanently, because that would make your IP list explode,
			   slowing down your site for normal visitors.</p>
			<p>By default, bad visitors are blocked for 1 minute after 10 bad requests.</p>
		</div>
	</div>

	<h4>Turn On Automatic Blacklist Engine</h4>
	<form class="form-horizontal icwp-wizard-form">
		{% set radiovalues =
			{
				'Y': '<span>Turn On</span> - Automatically block bad visitors and bots',
				'N': '<span>Turn Off</span> - Do not use automatic black lists to protect against bad visitors and bots'
			}
		%}
		{{ slideMacros.formInput_Radio( 'IpManagerOption', radiovalues, 'Automatic IP Blacklist' ) }}
		{{ slideMacros.formInput_Hidden( 'wizard-step', 'ips' ) }}
		{{ slideMacros.formInput_Submit( 'Set IP Blacklist Option' ) }}
	</form>

{% endblock %}