{% extends 'wizard/slides/common/base.twig' %}

{% block slide_body %}
	{{ slideMacros.slideTitle( 'Become A Pro Supporter' ) }}

	<p>It is our commitment to continue to offer the core security features of Shield for <strong>absolutely
	free</strong> wherever possible.
	<p>If you want technical support, import/export of options, extra features and all the other bells and whistles,
   you can go Pro for $1/month - you won't find a Pro plugin for better value than that.
   Anywhere.</p>
	<p>Again, don't worry if you don't want the extras, your site will still be secured.</p>
	<p>But if you'd like to lend your support for future development and get all the perks,
   <a href="{{ hrefs.gopro }}" target="_blank">click here to grab a license</a>.</p>

	<h4>Provide Your Pro License Key</h4>
	<form class="form-horizontal icwp-wizard-form" autocomplete="off">
	<input name="wizard-step" value="license" type="hidden" />

	<div class="form-group">
		<label class="col-md-4 control-label" for="LicenseKey">License Key</label>
		<div class="col-md-8">
			<input type="text" class="form-control" maxlength="32" size="32"
				   name="LicenseKey" id="LicenseKey" placeholder="abcdefgh12345 ...">
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-offset-4 col-md-8">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</div>
</form>

{% endblock %}