{% extends '/wizard/slides/welcome/base.twig' %}

{% block slide_body_video_section_blurb %}
	<h5>Watch the quick (35s) explanatory video:</h5>
	<p>Shield is designed to protect your WP Login against automated, brute force login attacks from bots.</p>
	<p>Shield brings its exclusive AntiBot Detection Engine to your login pages to detect bots
	   without the need for any CAPTCHAs, or any other UX-destructive additions to your forms whatsoever.</p>
{% endblock %}

{% block slide_body_action_area %}

	{% set radiovalues =
		{
			'Y': '<span>Turn On</span> - Protect my WordPress login from automated attacks',
			'N': '<span>Turn Off</span> - Do not protect my WordPress login from automated attacks'
		}
	%}

	<form class="form-horizontal icwp-wizard-form">

		<div class="form-group row">
			<div class="col-4">
				Bot Login Protection
			</div>
			<div class="col-8">
				{{ icwp_macros.formInput_Radio_Wizard( 'LoginProtectOption', radiovalues, 'Bot Login Protection' ) }}
			</div>
		</div>

		{{ icwp_macros.formInput_Submit2( 'Set Login Protection', null, null, false ) }}
		{{ icwp_macros.formInput_Hidden( 'wizard-step', vars.step ) }}
	</form>
{% endblock %}