{% extends 'wizard/slides/common/base.twig' %}

{% block slide_body %}

	<h3>Come Join Us!</h3>
	<p>We hope you'll see we've put a lot of effort into making Shield powerful, full-featured,
	and still easy to use.</p>
	<p>We're continually improving it, adding further security features, and making it easier than ever to secure your
	   sites.</p>
	<p>We've got 3 more options for you:</p>

	<h4>#1 Join Our Security Email Group</h4>
	<p class="help-block">Become a member on the list for exclusive updates, information and news
						  (you'll receive an email to confirm).
		<br /><strong>We never SPAM</strong> and you can remove yourself at any time.
	</p>
	<form class="form-horizontal"
		  action="https://icontrolwp.us2.list-manage.com/subscribe/post?u=e736870223389e44fb8915c9a&id=0e1d527259"
		  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
		<div class="form-group">
			<label class="col-md-4 control-label" for="FNAME">Your Name</label>
			<div class="col-md-8">
				<input type="text" class="form-control" name="FNAME" placeholder="{{ data.name }}"
					   value="{{ data.name }}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label" for="EMAIL">Your Email</label>
			<div class="col-md-8">
				<input type="email" class="form-control" name="EMAIL" placeholder="{{ data.user_email }}"
					   value="{{ data.user_email }}">

				<p class="help-block">
					<strong>We never SPAM</strong> and you can remove yourself at any time.
				</p>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-4 col-md-8">
				<input type="submit" value="Sign-Up" name="subscribe" class="btn btn-primary">
				- opens a window
			</div>
		</div>
	</form>

	<hr />

	<h4>#2 Anonymous Usage Data</h4>
	<p>Helps us determine what features are being used, where we need to do more work and how effective Shield is being.</p>
	<form class="form-horizontal icwp-wizard-form">
		<input name="wizard-step" value="optin" type="hidden" />

		<div class="form-group">
			<label class="col-md-4 control-label" for="AnonymousOption">Anonymous Usage</label>
			<div class="col-md-8">
				<div class="radio">
					<label>
						<input type="radio" name="AnonymousOption" id="AnonymousOptionOn" value="Y" checked>
						Turn On - allow <em>completely anonymous</em> usage data to be collected
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="AnonymousOption" id="AnonymousOptionOff" value="N">
						Turn Off - do not contribute anonymous usage data
					</label>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-4 col-md-8">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</div>

	</form>

	<hr />

	<h4>#3 Display The Shield Protection Badge</h4>
	<p>You can demonstrate to your visitors and customers that you're taking security seriously
	   by displaying a little 'Shield' badge on the bottom corner of your website.</p>
	<form class="form-horizontal icwp-wizard-form">
		<input name="wizard-step" value="optin" type="hidden" />

		<div class="form-group">
			<label class="col-md-4 control-label" for="BadgeOption">Anonymous Usage</label>
			<div class="col-md-8">
				<div class="radio">
					<label>
						<input type="radio" name="BadgeOption" id="BadgeOptionOn" value="Y" checked>
						Turn On - display the Shield Security plugin badge on my site
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="BadgeOption" id="BadgeOptionOff" value="N">
						Turn Off - do not display the badge on my site
					</label>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-4 col-md-8">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</div>

	</form>
{% endblock %}