{% extends 'wizard/slides/common/base_finish.twig' %}

{% block slide_body_top %}
	{{ slideMacros.slideTitle( 'Thank You!' ) }}

	<p>You've done it! This is the just scratching the surface of Shield Security and the options you have available.</p>
	<p>We hope you'll take the time and dig through some of the settings to further refine the security of
   your site. These things take time, but learning it will really help you get the most out of it.</p>
	<p>Thank you for choosing Shield Security! :D</p>

{% endblock %}