{% extends 'wizard/slides/common/base_start.twig' %}

{% block slide_header %}
	<div class="row row-cols-1 justify-content-center">
		<div class="col-6 col-sm-6 col-xl-4">
			<img id="ShieldLogo" class="img-fluid" src="{{ imgs.plugin_banner }}" alt="ShieldLogo" />
		</div>
	</div>
{% endblock %}

{% block slide_body %}
	{{ icwp_macros.slideTitle( 'Welcome To Shield Security for WordPress' ) }}

	{{ icwp_macros.embedVimeoFeather( vars.video_id, imgs.video_thumb, imgs.play_button ) }}

	<p class="description">Shield Security does a lot, and has a lot of options.</p>
	<p class="description">Rather than overwhelm you with everything all at once, we'll walk you through the main features
	   first, to give you a feel for how Shield will protect your site.</p>
	<p class="description">Don't worry, you'll be on your way very soon, with a much more secure WordPress site.</p>
	<p class="description">Right, let's get you started! :D</p>

	<div class="row">
			<div class="col-6">
   </div>
			<div class="col-6">
					<button class="btn-block button button-primary ButtonNextSlide">Start &rarr;</button>
			</div>
		</div>

{% endblock %}