{% extends 'wizard/slides/common/base_start.twig' %}

{% block slide_body %}
	{{ slideMacros.slideTitle( 'Welcome To Shield Security for WordPress' ) }}

	{{ slideMacros.embedVimeo( "267962208" ) }}

	<p>Shield Security does a lot, and has a lot of options.</p>
	<p>Rather than overwhelm you with everything all at once, we'll walk you through the main features
	   first, to give you a feel for how Shield will protect your site.</p>
	<p>Don't worry, you'll be on your way very soon, with a much more secure WordPress site.</p>
	<p>Right, let's get you started! :D</p>
{% endblock %}