{% extends 'wizard/slides/common/base_start.twig' %}

{% block slide_body %}
	{{ slideMacros.slideTitle( 'Welcome To Shield Security for WordPress' ) }}
	<div class="embed-responsive embed-responsive-16by9">
	<iframe src="https://player.vimeo.com/video/267962208" width="640" height="480"
			frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>

	<p>Shield Security does a lot, and has a lot of options.</p>
	<p>Rather than overwhelm you with everything all at once, we'll walk you through the main features
	   first, to give you a feel for how Shield will protect your site.</p>
	<p>Don't worry, you'll be on your way very soon, with a much more secure WordPress site.</p>
	<p>Right, let's get you started! :D</p>
{% endblock %}