{% extends '/wizard/slides/welcome/base.twig' %}

{% block slide_header %}
	<div class="row row-cols-1 justify-content-center">
		<div class="col-6 col-sm-6 col-xl-4">
			<img id="ShieldLogo" class="img-fluid" src="{{ imgs.plugin_banner }}" alt="ShieldLogo" />
		</div>
	</div>
{% endblock %}

{% block slide_body_video_section_blurb %}
	<h5>Watch the Introduction video to get started</h5>
	<p>If this is your first time installing Shield, please use this Welcome Wizard to
				   help you get started.</p>
	<p>Shield Security does a lot, and has a lot of options.</p>
	<p>We encourage you to watch the videos at each stage to familiarise yourself with
				   the details of settings you're changing.</p>
{% endblock %}