{% if flags.has_logs %}
	<ul class="list-group list-group-flush">
		{% for log in vars.logs %}
			<li class="list-group-item">
				<p class="m-0 text-break">
					{{ log.message }}
					<br/><small class="fw-bold">{{ log.ip }} | {{ log.ago }}</small>
				</p>
			</li>
		{% endfor %}
	</ul>
{% else %}
	<p class="m-0">{{ strings.no_logs }}</p>
{% endif %}