{% extends '/pages/base.twig' %}

{% block html_tag_body %}<body class="shield-mfa-login-page">{% endblock html_tag_body %}

{% block body_content_header %}{% endblock %}

{% block body_content_main %}
	<div class="shield-mfa-page">
		{{ content.form|raw }}
	</div>
{% endblock %}

{% block body_content_footer %}{% endblock %}
