{% extends '/wpadmin_pages/insights_new/base.twig' %}

{% block body_main %}
	<div class="row">
		<div class="col-6 insights_section">
			{% include '/wpadmin_pages/insights_new/ips/ips_black.twig' %}
		</div>
		<div class="col-6 insights_section">
			{#{% include '/wpadmin_pages/insights_new/ips/ips_white.twig' %}#}
		</div>
	</div>
{% endblock %}