{% block section_table %}
	<div class="row insights_widget" id="SectionTableIpsWhite">
		{% block section_form_addip %}
			<div class="col-12">
				<form class="form-inline" id="NewIp" action="#" method="post">
					{% for name,val in ajax.add_ip_white %}
						<input type="hidden" name="{{ name }}" value="{{ val }}" />
					{% endfor %}
					<label class="sr-only" for="IpAddress">IpAddress</label>
					<div class="input-group w-100">
						<div class="input-group-prepend">
							<div class="input-group-text" style="border-radius: 0">New IP:</div>
						</div>
						<input type="text" class="form-control" id="IpAddress" name="ip"
							   placeholder="enter IP to whitelist" />
						<input type="text" class="form-control" id="Label" name="label"
							   placeholder="label for IP" />
						<div class="input-group-append">
							<button type="submit" class="btn btn-info add" style="border-radius: 0;" name="subbutt"
									title="Add IP"><span class="dashicons dashicons-plus"></span></button>
						</div>
					</div>
				</form>
			</div>
		{% endblock %}
		<div class="col-12" id="TableIpsWhite"></div>
	</div>
{% endblock %}

{% block section_table_js %}
	<script>
		jQuery( '#TableIpsWhite' ).icwpWpsfAjaxTable(
			{
				'ajax_render':{{ ajax.render_table_ip|raw }},
				'req_params': {
					'fList': 'MW'
				}
			}
		);
	</script>
{% endblock %}