{% extends '/wpadmin_pages/insights_new/ips/ips_base.twig' %}

{% block section_form_addip %}{% endblock %}

{% block section_table %}
	<div class="row insights_widget" id="SectionTableIpsBlack">
		<div class="col-12" id="TableIpsBlack"></div>
	</div>
{% endblock %}

{% block section_table_js %}
	<script>
		jQuery( document ).icwpWpsfTableIps(
			{
				'id_table_container': '#TableIpsBlack',
				'id_form_container': '#SectionTableIpsBlack',
				'ajax_render':{{ ajax.render_table_ip|raw }},
				'ajax_delete_ip':{{ ajax.ip_delete|raw }},
				'req_params': {
					'fList': 'AB'
				}
			}
		);
	</script>
{% endblock %}