parameters:
	ignoreErrors:
		-
			message: '#^Variable \$title in empty\(\) is never defined\.$#'
			identifier: empty.variable
			count: 1
			path: src/Modules/Plugin/Components/BadgeWidget.php

		-
			message: '#^Array has 2 duplicate keys with value ''\./'' \(ABSPATH, WP_CONTENT_DIR\)\.$#'
			identifier: array.duplicateKey
			count: 1
			path: src/Scans/Afs/BuildScanItems.php
		-
			message: '#^Variable \$rootFile in PHPDoc tag @var does not match any global variable\: \$oICWP_Wpsf$#'
			identifier: varTag.differentVariable
			count: 1
			path: plugin_init.php

		-
			message: '#^Access to an undefined property FernleafSystems\\Wordpress\\Plugin\\Shield\\ActionRouter\\RoutedResponse\:\:\$error\.$#'
			identifier: property.notFound
			count: 1
			path: src/ActionRouter/Actions/AjaxRender.php

		-
			message: '#^Access to an undefined property FernleafSystems\\Wordpress\\Plugin\\Shield\\ActionRouter\\RoutedResponse\:\:\$message\.$#'
			identifier: property.notFound
			count: 1
			path: src/ActionRouter/Actions/AjaxRender.php

		-
			message: '#^Access to an undefined property FernleafSystems\\Wordpress\\Services\\Utilities\\WpOrg\\Plugin\\VOs\\PluginInfoVO\:\:\$download_link\.$#'
			identifier: property.notFound
			count: 1
			path: src/ActionRouter/Actions/MainWP/ServerActions/SiteActionInstall.php

		-
			message: '#^Method PclZip\:\:add\(\) invoked with 3 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/Components/Worpdrive/Filesystem/ZipCreate/Zipper.php

		-
			message: '#^Method PclZip\:\:create\(\) invoked with 3 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/Components/Worpdrive/Filesystem/ZipCreate/Zipper.php
