parameters:
	ignoreErrors:
		-
			message: '#^Anonymous function has an unused use \$e\.$#'
			identifier: closure.unusedUse
			count: 1
			path: plugin_init.php

		-
			message: '#^Action callback returns null but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: src/Controller/Admin/AdminBarMenu.php

		-
			message: '#^Action callback returns array but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: src/Controller/I18n/TranslationDownloadController.php

		-
			message: '#^Action callback returns FernleafSystems\\Wordpress\\Plugin\\Shield\\Extensions\\UpgradeHandlersBase\|null but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: src/Extensions/BaseExtension.php

		-
			message: '#^Action callback returns array\<null\> but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: src/Modules/AuditTrail/Lib/AuditCon.php

		-
			message: '#^Action callback returns bool but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: src/Modules/HackGuard/Scan/Controller/Base.php

		-
			message: '#^Callback expects 0 parameters, \$accepted_args is set to 2\.$#'
			identifier: arguments.count
			count: 1
			path: src/Modules/HackGuard/Scan/Controller/Wpv.php

		-
			message: '#^Action callback returns array\<mixed\> but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: src/Modules/IPs/Lib/Bots/BotSignalsController.php

		-
			message: '#^Callback expects 1 parameter, \$accepted_args is set to 2\.$#'
			identifier: arguments.count
			count: 1
			path: src/Modules/Integrations/Lib/Bots/UserForms/Handlers/MemberPress.php

		-
			message: '#^Action callback returns array but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: src/Modules/Integrations/Lib/Bots/UserForms/Handlers/WPMembers.php

		-
			message: '#^Callback expects 0 parameters, \$accepted_args is set to 2\.$#'
			identifier: arguments.count
			count: 1
			path: src/Modules/Integrations/Lib/MainWP/Server/Init.php

		-
			message: '#^Path in require_once\(\) "\./wp\-login\.php" is not a file or it does not exist\.$#'
			identifier: requireOnce.fileNotFound
			count: 1
			path: src/Modules/LoginGuard/Lib/Rename/RenameLogin.php

		-
			message: '#^Action callback returns string\|false but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: src/Modules/LoginGuard/Lib/TwoFactor/MfaProfilesController.php

		-
			message: '#^Action callback returns bool but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: src/Modules/Plugin/Components/AnonRestApiDisable.php

		-
			message: '#^Variable \$title in empty\(\) is never defined\.$#'
			identifier: empty.variable
			count: 1
			path: src/Modules/Plugin/Components/BadgeWidget.php

		-
			message: '#^Variable \$firstAudit in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/Modules/Plugin/Lib/Reporting/ReportingController.php

		-
			message: '#^Variable \$report in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/Modules/Plugin/Lib/Reporting/ReportingController.php

		-
			message: '#^Action callback returns FernleafSystems\\Wordpress\\Plugin\\Shield\\Controller\\Config\\OptsHandler but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: src/Modules/Plugin/ModCon.php

		-
			message: '#^Action callback returns FernleafSystems\\Wordpress\\Plugin\\Shield\\Users\\ShieldUserMeta\|null but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: src/Modules/Plugin/Processor.php

		-
			message: '#^Action callback returns WP_Error but should not return anything\.$#'
			identifier: return.void
			count: 2
			path: src/Modules/UserManagement/Lib/Password/UserPasswordHandler.php

		-
			message: '#^Action callback returns bool but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: src/Rules/RulesController.php

		-
			message: '#^Array has 2 duplicate keys with value ''\./'' \(ABSPATH, WP_CONTENT_DIR\)\.$#'
			identifier: array.duplicateKey
			count: 1
			path: src/Scans/Afs/BuildScanItems.php

		-
			message: '#^Path in require_once\(\) "\.//wp\-admin/includes/plugin\-install\.php" is not a file or it does not exist\.$#'
			identifier: requireOnce.fileNotFound
			count: 1
			path: src/Scans/Apc/PluginScanner.php

		-
			message: '#^Variable \$record in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/Utilities/Tool/DbTableExport.php

		-
			message: '#^Variable \$items in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/WpCli/Cmds/Translations.php

		-
			message: '#^Variable \$rootFile in PHPDoc tag @var does not match any global variable\: \$oICWP_Wpsf$#'
			identifier: varTag.differentVariable
			count: 1
			path: plugin_init.php

		-
			message: '#^Access to an undefined property FernleafSystems\\Wordpress\\Plugin\\Shield\\ActionRouter\\RoutedResponse\:\:\$error\.$#'
			identifier: property.notFound
			count: 1
			path: src/ActionRouter/Actions/AjaxRender.php

		-
			message: '#^Access to an undefined property FernleafSystems\\Wordpress\\Plugin\\Shield\\ActionRouter\\RoutedResponse\:\:\$message\.$#'
			identifier: property.notFound
			count: 1
			path: src/ActionRouter/Actions/AjaxRender.php

		-
			message: '#^Access to an undefined property FernleafSystems\\Wordpress\\Services\\Utilities\\WpOrg\\Plugin\\VOs\\PluginInfoVO\:\:\$download_link\.$#'
			identifier: property.notFound
			count: 1
			path: src/ActionRouter/Actions/MainWP/ServerActions/SiteActionInstall.php

		-
			message: '#^Method PclZip\:\:add\(\) invoked with 3 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/Components/Worpdrive/Filesystem/ZipCreate/Zipper.php

		-
			message: '#^Method PclZip\:\:create\(\) invoked with 3 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/Components/Worpdrive/Filesystem/ZipCreate/Zipper.php

		-
			message: '#^Call to an undefined method Carbon\\Carbon\:\:subweeks\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Controller/Database/CleanDatabases.php

		-
			message: '#^PHPDoc tag @param for parameter \$optKey with type mixed is not subtype of native type string\.$#'
			identifier: parameter.phpDocType
			count: 1
			path: src/Controller/Plugin/PluginURLs.php

		-
			message: '#^PHPDoc tag @var for property FernleafSystems\\Wordpress\\Plugin\\Shield\\Modules\\IPs\\Lib\\IpRules\\IpRuleStatus\:\:\$cache with type array\<array\<FernleafSystems\\Wordpress\\Plugin\\Shield\\DBs\\IpRules\\IpRuleRecord\>\>\|null is not subtype of native type array\.$#'
			identifier: property.phpDocType
			count: 1
			path: src/Modules/IPs/Lib/IpRules/IpRuleStatus.php

		-
			message: '#^Call to an undefined method FernleafSystems\\Wordpress\\Plugin\\Shield\\Modules\\LoginGuard\\Lib\\TwoFactor\\Provider\\Provider2faInterface\:\:postSuccessActions\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Modules/LoginGuard/Lib/TwoFactor/LoginIntentRequestValidate.php
