{% extends 'wizard/slides/common/base_finish.twig' %}

{% block slide_body_top %}
	{{ slideMacros.slideTitle( 'Finished: Multi-Factor Authentication Setup' ) }}
	<p>This is the end of the Shield Security Multi-Factor Authentication Setup Wizard.</p>
{% endblock %}