{% extends 'wizard/slides/common/base_finish.twig' %}

{% block slide_body_top %}
	<h3>Finished: Multi-Factor Authentication Setup</h3>
	<p>This is the end of the Shield Security Multi-Factor Authentication Setup Wizard.</p>
{% endblock %}