{% extends 'wizard/slides/common/base.twig' %}

{% block slide_body %}
	{{ slideMacros.slideTitle( 'Configure Multi-Factor or Two-Factor Authentication' ) }}

	<p>As we outlined on the first slide in this wizard, if you have a password and 1 extra factor,
	   you have what is known as "Two-Factor Authentication".</p>
	<p>But if you have more than 1 extra factor, you have what is called
	   "Multi-Factor Authentication".</p>
	<p>You have a choice between either of these, now that you've configured other login factors.</p>
	<p>You can either set that <strong>all extra login factors</strong> are required when a user logs on.
	   Or you can set that <strong>only 1 extra login factor</strong> is required.</p>
	<p>The balance here of course is between an easier user experience, or harder site security.
	   The choice is yours.</p>

	<h5>Configure Factor Requirements</h5>

	<form class="form-horizontal icwp-wizard-form" id>

		{% set radiovalues =
			{
				'Y': '<span>Turn On Multi-Factor</span> - all factors required',
				'N': '<span>Turn Off Multi-Factor</span> - only 1 extra factor required'
			}
		%}
		{{ slideMacros.formInput_Radio( 'multiselect', radiovalues, 'Configure Authentication' ) }}

		<div class="help-block" style="margin-bottom: 20px;">
			Think of turning multi-factor <em>on</em> as "requiring all configured factors".
			<br/>And think of turning multi-factor <em>off</em> as "requiring just 1 of your extra factors".
		</div>

		{{ slideMacros.formInput_Hidden( 'wizard-step', 'multiselect' ) }}
		{{ slideMacros.formInput_Submit( 'Configure Multi-Factor' ) }}
	</form>
{% endblock %}