<tr>
	<th>
		<label for="shield_enable_mfaemail" class="form-label"
		       {% if flags.is_enforced %}style="pointer-events: none;"{% endif %}
		>{{ strings.label_email_authentication }}</label>
	</th>
	<td>
		<label class="switch form-label {% if flags.is_enforced %}disabled{% endif %}"
		       for="shield_enable_mfaemail">

			<input type="checkbox" name="shield_enable_mfaemail" id="shield_enable_mfaemail" value="Y"
				   class="shield-enable-mfaemail"
			       {% if flags.is_profile_active %}checked="checked"{% endif %}
					{% if flags.is_enforced %}
						disabled="disabled"
					{% endif %}
			/>

			<span class="shield_slider round"></span>
		</label>

		{% if flags.show_explanatory_text %}
			<p class="description">{{ strings.description_email_authentication_checkbox }}</p>
			{% if flags.is_enforced %}
			<p class="description">{{ strings.is_enforced }}</p>
		{% endif %}
		{% endif %}
	</td>
</tr>
