<div id="shield-options-mfa-authentication" class="shield-user-options-block">
	<h3>{{ strings.title }}<small style="margin-left: 10px">({{ strings.provided_by }})</small></h3>

	<table class="form-table">
		<tbody>
			{% for mfa_slug,mfa_row in mfa_rows %}
				{{ mfa_row|raw }}
			{% endfor %}
		</tbody>
	</table>
</div>
{% include '/admin/user/profile/mfa/mfa_dialog.twig' %}