{% extends '/wpadmin_pages/insights_new/base.twig' %}

{% block page_main %}
	<div class="row insights_section keys text-center">
		<div class="col-sm-1">
			<h6 style="line-height: 42px" class="mb-0">Key</h6>
		</div>
		<div class="col-sm-3">
			<div class="alert alert-success">Positive security</div>
		</div>
		<div class="col-sm-3">
			<div class="alert alert-warning">Potential warning</div>
		</div>
		<div class="col-sm-3">
			<div class="alert alert-danger">Potential danger</div>
		</div>
		<div class="col-sm-2">
			<div class="alert alert-info">Information</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 insights_section mt-0">
			{% include '/wpadmin_pages/insights_new/config/module_summaries.twig' %}
		</div>
	</div>
{% endblock %}