{% if flags.has_diffs %}

	<ul class="nav nav-tabs my-3">
	  <li class="nav-item">
	    <a class="nav-link active" aria-current="page" href="#"
	       data-bs-toggle="tab" data-bs-target="#tab-pane-summary" type="button"
	    >Summary</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#"
	       data-bs-toggle="tab" data-bs-target="#tab-pane-detailed" type="button"
	    >Detailed</a>
	  </li>
	</ul>

	<div class="tab-content" id="myTabContent">

	  <div class="tab-pane fade show active"
	       id="tab-pane-summary" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
				{% for zone_slug,zone_data in vars.changes.zones_data %}
					{% set zone_changes = zone_data.summary %}
					{% set zone_title = zone_data.title %}
					{% set is_summary = true %}
					<div class="row">
						<div class="col">
							{% include '/wpadmin_pages/insights/reports/changetrack/report/zone_diff.twig' %}
						</div>
					</div>
				{% endfor %}
	  </div>

	  <div class="tab-pane fade" id="tab-pane-detailed"
	       role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
				{% for zone_slug,zone_data in vars.changes.zones_data %}
					{% set zone_changes = zone_data.detailed %}
					{% set zone_title = zone_data.title %}
					{% set is_summary = false %}
					<div class="row">
						<div class="col">
							{% include '/wpadmin_pages/insights/reports/changetrack/report/zone_diff.twig' %}
						</div>
					</div>
				{% endfor %}

{#			<div class="accordion" id="accordionPanelsStayOpenExample">#}
{#				{% for detailed_diff in vars.detailed_diffs %}#}
{#					<div class="accordion-item">#}
{#						<h2 class="accordion-header">#}
{#				      <button class="accordion-button" type="button"#}
{#				              data-bs-toggle="collapse"#}
{#				              data-bs-target="#panelsStayOpen-{{ detailed_diff.slug }}"#}
{#				              aria-expanded="true"#}
{#				              aria-controls="panelsStayOpen-{{ detailed_diff.slug }}"#}
{#				      >{{ detailed_diff.title }}</button>#}
{#						</h2>#}

{#						<div id="panelsStayOpen-{{ detailed_diff.slug }}" class="accordion-collapse collapse show">#}
{#				      <div class="accordion-body">#}
{#								{% for zone_slug,zone_data in detailed_diff.zones_data %}#}
{#									<div class="row">#}
{#										<div class="col">#}
{#											{% include '/wpadmin_pages/insights/reports/changetrack/report/zone_diff.twig' %}#}
{#										</div>#}
{#									</div>#}
{#								{% endfor %}#}
{#				      </div>#}
{#				    </div>#}
{#					</div>#}
{#				{% endfor %}#}
{#			</div>#}

	  </div>
	</div>


{% else %}
	<div class="alert alert-info">
		There were no overall site changes between the selected days.
	</div>
{% endif %}
