{% extends '/wpadmin_pages/insights/base.twig' %}

{% block page_main %}
	<div class="row row-cols-sm-2 row-cols-lg-3 row-cols-xl-4" id="DashboardFeatureCards">
		{% for card in content.dashboard_cards %}
			<div class="col mt-3">
				{{ card|raw }}
			</div>
		{% endfor %}
	</div>
	<div class="row">
		<div class="col" style="height: 80px"></div>
	</div>
{% endblock %}

{% block inline_scripts %}
	<script type="text/javascript">
		jQuery( document ).ready( function () {
			let $oTheSelect = jQuery( 'select#DashboardModSettingsSelect' );
			$oTheSelect.on( 'change', function ( evt ) {
				if ( $oTheSelect.val() !== '-' ) {
					window.location.href = jQuery( "option:selected", $oTheSelect ).data( 'href' );
				}
			} );
		} );
	</script>
{% endblock %}