<div class="progress-metercard progress-metercard-summary h-100 w-100 {{ vars.is_hero|default(false) ? 'progress-metercard-hero' : '' }}" data-meter_slug="{{ vars.meter_slug }}">
	{% if vars.is_hero|default(false) %}
		{% include '/components/html/loading_placeholders/progress_meter_hero.twig' %}
	{% else %}
		{% include '/components/html/loading_placeholders/progress_meter.twig' %}
	{% endif %}
</div>
