{% extends '/components/reports/components/base.twig' %}

{% block pre_body %}
	<p>{{ strings.file_changed }}</p>
{% endblock %}

{% block body %}
	<ul>
		<li>{{ strings.total_files }}</li>
	</ul>
{% endblock %}

{% block post_body %}
	<p>
		<a href="{{ hrefs.view_results }}"
	      style="margin:8px 4px 10px;font-size:14px;color:#008000;"
	      target="_blank">
			{{ strings.view_results }}
		</a>
	</p>
{% endblock %}