{% if flags.render_required|default(false) %}
	<div style="padding-left: 10px;">

		{% block title %}
			<h3>
				{{ strings.title }}
				{% block subtitle %}
					{% if strings.subtitle|default('') is not empty %}
						<small>{{ strings.subtitle }}</small>
					{% endif %}
				{% endblock %}
			</h3>
		{% endblock %}

		{% block pre_body %}{% endblock %}
		{% block body %}{% endblock %}
		{% block post_body %}{% endblock %}
	</div>
{% endif %}