{% extends '/components/reports/components/base.twig' %}

{% block body %}
	<ul>
		{% for event_data in vars.counts %}
			<li>{{ event_data.name }}: {{ event_data.count }}</li>
		{% endfor %}
	</ul>
{% endblock %}