{% extends '/components/reports/components/base.twig' %}

{% block body %}
	<table style="width: 600px">
		{% for count_row in vars.counts %}
			<tr>
				{% for event_count in count_row %}
					<td style="text-align: center;padding-bottom: 7px; border:1px solid transparent;">
						<p style="margin: 3px 0; font-size: 15px; font-weight: bolder; background-color: #f6f6f6;"
						>{{ event_count.name }}</p>
						<p style="margin: 3px 0 5px;font-size: 16px">{{ event_count.count_latest }}
							{{ event_count.diff_symbol|raw }} ({{ event_count.count_previous }})
						</p>
					</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</table>
{% endblock %}