<div class="row">
	<div class="col-12 insights_widget">

		<form>
			<div class="row">
				<div class="col-xl-3 col-md-4 col-sm-6">
					<div class="scan-select pl-2">
						<input type="checkbox" class="form-control text-right" id="chWcf" value="Y" />
						<label for="chWcf" class="col-form-label">Core Files</label>
					</div>
				</div>
				<div class="col-xl-3 col-md-4 col-sm-6">
					<div class="scan-select pl-2">
						<input type="checkbox" class="form-control text-right" id="chUfc" value="Y" />
						<label for="chUfc" class="col-form-label">Unrecognised Core Files</label>
					</div>
				</div>
				<div class="col-xl-3 col-md-4 col-sm-6">
					<div class="scan-select pl-2">
						<input type="checkbox" class="form-control text-right" id="chPtg" value="Y" />
						<label for="chPtg" class="col-form-label">Plugin/Theme Modifications</label>
					</div>
				</div>
				<div class="col-xl-3 col-md-4 col-sm-6">
					<div class="scan-select pl-2">
						<input type="checkbox" class="form-control text-right" id="chPtdev" value="Y" />
						<label for="chPtdev" class="col-form-label">Plugin Deviance from WP.org</label>
					</div>
				</div>
				<div class="col-xl-3 col-md-4 col-sm-6">
					<div class="scan-select pl-2">
						<input type="checkbox" class="form-control text-right" id="chVuln" value="Y" />
						<label for="chVuln" class="col-form-label">Plugin Vulnerabilities</label>
					</div>
				</div>
			</div>
		</form>

	</div>
</div>