<h3></h3>
<div class="progress">
	<div class="progress-bar progress-bar-striped bg-success" role="progressbar"
		 style="width: {{ progress }}%" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">
	</div>
</div>