<div class="tab-content" id="ScanResultsTabsContent">

	<div class="tab-pane show active fade" id="ScanPagePaneResults" role="tabpanel"
		 aria-labelledby="h-tabs-scanpage-tab">
		<div class="row" id="SectionInsightsScans">
			<div class="col-12 insights-sub-nav" id="ScanResultsTabs">
				{% include '/wpadmin_pages/insights/scans/scan_results.twig' %}
			</div>
		</div>
	</div>

	<div class="tab-pane fade" id="ScanPagePaneScanNow" role="tabpanel"
		 aria-labelledby="h-tabs-scanpage-tab">
		<div class="row" id="SectionInsightsScans">
			<div class="col-12">
				{% include '/wpadmin_pages/insights/scans/scan_areas.twig' %}
			</div>
		</div>
	</div>
</div>
<ul class="nav nav-tabs d-block" id="ScanPageTabsNav" role="tablist" style="border-bottom: 0 none;">

	<li id="ScanPageTabsNavResults" class="nav-item hidden footer-form-actions">
		<a class="nav-link active btn btn-primary btn-lg" data-toggle="tab" href="#ScanPagePaneResults"
		   role="tab" aria-controls="h-tabs-scanpage" aria-selected="true">
			&larr; {{ strings.select_view_results }}
		</a>
	</li>
	<li id="ScanPageTabsNavScan" class="nav-item footer-form-actions">
		<a class="nav-link btn btn-primary btn-lg" data-toggle="tab" href="#ScanPagePaneScanNow"
		   role="tab" aria-controls="h-tabs-scanpage" aria-selected="true">
			{{ strings.run_scans_now }} &rarr;
		</a>
	</li>
</ul>

<script type="text/javascript">
	jQuery( '#ScanPageTabsNavResults a[data-toggle="tab"]' ).on( 'shown.bs.tab', function ( e ) {
		jQuery( '#ScanPageTabsNavScan' ).removeClass( 'hidden' );
		jQuery( '#ScanPageTabsNavResults' ).addClass( 'hidden' );
	} );
	jQuery( '#ScanPageTabsNavScan a[data-toggle="tab"]' ).on( 'shown.bs.tab', function ( e ) {
		jQuery( '#ScanPageTabsNavResults' ).removeClass( 'hidden' );
		jQuery( '#ScanPageTabsNavScan' ).addClass( 'hidden' );
	} );
</script>