<div class="row" id="SectionInsightsScans">
	<div class="col-12" id="ScanResultsTabs">
		{% include '/wpadmin_pages/insights/scans/results/scan_results.twig' %}
	</div>
</div>
{% include '/wpadmin_pages/insights/scans/modal/shield_modal_container.twig' %}
{% include '/wpadmin_pages/insights/scans/modal/progress.twig' %}