<div class="row">
	<div class="col-12">
		<div class="alert alert-info m-0">
			<h6 class="alert-heading">{{ strings.not_enabled }}</h6>
			<p class="m-0"><a class="alert-link" href="{{ scan.hrefs.please_enable }}">{{ strings.please_enable }}</a></p>
		</div>
	</div>
</div>
