{% extends '/wpadmin_pages/insights/base.twig' %}

{% block page_main %}
	{% if flags.can_importexport %}
		<div class="row">
			<div class="col">
				<ul class="nav nav-pills" id="pills-nav-ips">
					<li class="nav-item">
						<a class="nav-link disabled" data-toggle="tab" role="tab">Select Method:</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" role="tab"  href="#byFile">File</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" role="tab"  href="#bySite">Site-To-Site</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="tab-content">
			<div class="tab-pane fade show active" id="byFile" role="tabpanel" aria-labelledby="byFile">
				<div class="row">
					<div class="col insights_section">
						{% include '/wpadmin_pages/insights/importexport/from_file.twig' %}
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="bySite" role="tabpanel" aria-labelledby="bySite">
				<div class="row">
					<div class="col insights_section">
						{% include '/wpadmin_pages/insights/importexport/from_site.twig' %}
					</div>
				</div>
			</div>
		</div>
	{% else %}
		<div class="row">
			<div class="col-12 insights_section">
				{% include '/wpadmin_pages/insights/common/feature_unavailable.twig' %}
			</div>
		</div>
	{% endif %}
{% endblock %}