<div class="row">
	<div class="col-6">
		<h6 class="mt-4 mb-2">{{ strings.title_download_file }}</h6>
		<div class="text-start">
			<a id="ExportDownload" href="{{ hrefs.export_file_download }}"
			   class="btn btn-primary"
			   type="submit">{{ strings.title_download_file }}</a>
		</div>
	</div>
</div>