<div class="row insights_widget" id="SectionScanResultsPtg">
	<div class="col-12">
		<div class="card card-scan_results mt-4">
			<div class="card-header">
				<h5 class="card-title">Plugin / Theme Guard [ {{ scanvars.count }} ]</h5>
				<h6 class="card-subtitle mb-2 text-muted">
					Tracks changes to important files within active Plugins and Themes
				</h6>
			</div>
			<div class="card-body ">
				<div id="TableScanPtg"></div>
			</div>
			<div class="card-footer">
				{{ scanvars.last_scan_at }}
			</div>
		</div>
	</div>
</div>
<script>
	var $oTableScanPtg = jQuery( '#TableScanPtg' ).icwpWpsfAjaxTable(
		{
			'ajax_render':{{ ajax.render_table_scan|raw }},
			'req_params': {
				'fScan': 'ptg'
			}
		}
	);
</script>