{% extends '/wpadmin_pages/insights/base.twig' %}

{% block page_main %}

	{% if flags.module_disabled %}
		<div class="row">
			<div class="col">
				<div class="alert alert-warning">
					{{ strings.module_disabled }}
					<a class="alert-link" href="{{ hrefs.scanner_mod_config }}">{{ strings.review_scanner_config }}</a>
				</div>
			</div>
		</div>
	{% endif %}

	<div class="row" id="SectionInsightsScans">
		<div class="col-12">
			{% include '/wpadmin_pages/insights/scans/run/scan_areas.twig' %}
		</div>
	</div>
	{% include '/wpadmin_pages/insights/scans/modal/progress.twig' %}
{% endblock %}