<div id="dashboard-overview-simple" class="dashboard-overview-simple">
	<div class="d-flex flex-column gap-1 mt-3">
		<small class="text-muted">{{ strings.simple_copy_score }}</small>
		<small class="text-muted">{{ strings.simple_copy_actions }}</small>
	</div>
	{{ content.operator_mode_landing|raw }}
</div>
