{% extends '/wpadmin/plugin_pages/base_inner_page.twig' %}

{% block inner_page_body %}

	{% if flags.is_show_view_as_message %}
		<div class="row justify-content-center">
			<div class="col-auto">
				<div class="alert alert-dark d-inline-block text-center">
					{{ strings.view_as_message }}
				</div>
			</div>
		</div>
	{% endif %}

	{{ parent() }}
{% endblock %}