{% extends '/wpadmin/plugin_pages/base_inner_page.twig' %}

{% block inner_page_body %}
	<div class="drill-down-test">
		{% if vars.drill_context_card is defined %}
			{% include '/wpadmin/components/page/drill_context_card.twig' with {
				context_card: vars.drill_context_card
			} only %}
		{% endif %}

		{% if vars.drill_shell is defined %}
			{% include '/wpadmin/components/page/drill_down_shell.twig' with {
				shell: vars.drill_shell
			} only %}
		{% endif %}
	</div>
{% endblock %}
