{% extends '/wpadmin/plugin_pages/base_inner_page.twig' %}

{% block inner_page_body %}
	{% include '/wpadmin/components/investigate/lookup_strip.twig' with {
		action: hrefs.by_ip,
		lookup_route: vars.lookup_route,
		label: strings.lookup_label,
		input_name: 'analyse_ip',
		input_type: 'text',
		input_value: vars.analyse_ip|default(''),
		placeholder: strings.lookup_placeholder,
		submit_text: strings.lookup_submit
	} only %}

	{% if not flags.has_subject %}
		<div class="alert alert-warning mb-0">
			<strong>{{ strings.no_subject_title }}</strong>
			<div>{{ strings.no_subject_text }}</div>
		</div>
	{% else %}
		{{ content.ip_analysis|raw }}
	{% endif %}
{% endblock %}
