{% extends '/wpadmin/plugin_pages/base_inner_page.twig' %}

{% block inner_page_body %}
	{% if flags.has_subject %}
		{% include '/wpadmin/components/investigate/subject_header.twig' with {
			title: vars.subject_header.title|default(''),
			meta: vars.subject_header.meta|default(''),
			change_label: strings.change_subject|default('')
		} only %}
		<div class="investigate-inline-ipanalyse">
			{{ content.ip_analysis|raw }}
		</div>
	{% else %}
		{% include '/wpadmin/components/investigate/lookup_strip.twig' with {
			action: hrefs.by_ip,
			lookup_route: vars.lookup_route,
			lookup_behavior: vars.lookup_behavior|default({}),
			lookup_ajax: vars.lookup_ajax|default({}),
			label: strings.lookup_label,
			input_name: 'analyse_ip',
			input_type: 'select',
			input_value: vars.analyse_ip|default(''),
			selected_option_label: vars.analyse_ip|default(''),
			options: [],
			placeholder: strings.lookup_placeholder,
			submit_text: strings.lookup_submit,
			helper_text: strings.lookup_helper
		} only %}
		<div class="investigate-empty-state-text">{{ strings.no_subject_text }}</div>
	{% endif %}
{% endblock %}
