{% extends '/wpadmin/plugin_pages/inner/rules_base.twig' %}

{% block inner_page_body_custom_rules %}
	<div class="row shield-section-datatable" id="SectionSecurityRulesTable">
		<div class="col">
			<table id="ShieldTable-SecurityRulesManager" class="table table-striped table-bordered" style="width: 100%;"></table>
		</div>
	</div>
{% endblock %}