{% extends '/wpadmin/plugin_pages/inner/scan_base.twig' %}

{% block inner_page_body %}

	<div class="row shield-section-datatable" id="SectionScansHistory">
		<div class="col">
			<table id="ShieldTable-SecurityScansHistory" class="table table-striped table-bordered" style="width: 100%;"></table>
		</div>
	</div>

{% endblock %}