{% extends '/wpadmin/plugin_pages/inner/scan_base.twig' %}

{% block inner_page_body %}
	<div class="row">
		<div class="col" id="ScanResultsTabs">
			{% include '/wpadmin_pages/insights/scans/results/scan_results.twig' %}
		</div>
	</div>
	{% include '/wpadmin_pages/insights/scans/modal/progress.twig' %}
{% endblock %}