{% extends '/wpadmin/plugin_pages/base_inner_page.twig' %}

{% block inner_page_body %}
	<div class="row shield-section-datatable">
		<div class="col">
			<table id="ShieldTable-SessionsViewer"
				   class="table table-striped table-bordered" style="width: 100%;"></table>
		</div>
	</div>
{% endblock %}