<div class="row" id="SectionStats">
	{% for stat in vars.insight_stats %}
		<div class="col-md-1">
			<div class="stat card"
					{% if stat.tooltip is defined %}
						title="{{ stat.tooltip }}"
					{% endif %}
			>
				<div class="card-header">
					{{ stat.title }}
				</div>
				<div class="card-body">
					{{ stat.val }}
				</div>
			</div>
		</div>
	{% endfor %}
</div>


