{% extends "/notices/base-info.twig" %}

{% block notice_body %}
	<div class="row">
		<div class="col">
			<p>
				{{ strings.notice_message }}
				<br />&rarr; {{ strings.unlock_link|raw }}
			</p>
			<p>{{ hrefs.setting_page|raw }}</p>
		</div>
	</div>
{% endblock %}