{% extends "/notices/base-error.twig" %}

{% block notice_body %}
	{% for line in strings.lines %}
		<p>{{ line }}</p>
	{% endfor %}
	<p>
		<a href="#" class="shield_admin_notice_action" data-notice_action="auto_db_repair">
			{{ strings.click_repair }}</a>
	</p>
{% endblock %}