{% extends "/notices/base-error.twig" %}

{% block notice_body %}
	<p>{{ strings.message }}</p>
	<p>
		<button type="button"
				class="shield_admin_notice_action shield-button-link"
				data-notice_action="delete_forceoff">{{ strings.delete }}</button>
	</p>
{% endblock %}
