{% extends "/notices/base-error.twig" %}

{% block notice_body %}
	{% for line in strings.lines %}
		<p>{{ line }}</p>
	{% endfor %}
	<p><a href="{{ hrefs.read_more }}">{{ strings.read_more }}</a></p>
{% endblock %}