{% extends "/notices/base-info.twig" %}

{% block notice_body %}
	<div class="row">
		<div class="col">
			<p><a href="{{ hrefs.upgrade_link }}" target="_blank">{{ strings.click_update }} &rarr;</a></p>
		</div>
	</div>
{% endblock %}