{% extends "/notices/base-info.twig" %}

{% block notice_body %}
	<p>{{ strings.main_message }}</p>
	<p><a href="{{ hrefs.read_homepage }}" id="fromIcwp" title="{{ strings.link_title }}" target="_blank">{{ strings.read_homepage }}</a></p>
{% endblock %}