{% extends "/notices/base-info.twig" %}

{% block notice_body %}
	<div class="row">
		<div class="col">
			<p>{{ strings.summary }}</p>
			<p><a class="button" target="_blank" href="{{ hrefs.form }}">{{ strings.yes }}</a></p>
		</div>
	</div>
{% endblock %}