{% extends "/notices/base-info.twig" %}

{% block notice_body %}
	<p>A lot of work goes into Shield Security, and we need your help to spread the word about it. :)
	<p>Even just a 1-liner review that says you're happy with it, will help us immensely.</p>
	<p>
		<a href="https://clk.shldscrty.com/wpsfreview" class="button button-primary" target="_blank">
		Click to leave a review on WordPress.org &rarr;</a>
	</p>
{% endblock %}