{% extends "/notices/base-info.twig" %}

{% block notice_body %}
	<p>{{ strings.notice_message }}
		<br />- <strong>{{ strings.including_message }}</strong>
		<br />{{ strings.your_ip }}
	</p>
{% endblock %}