{% extends "/notices/base-info.twig" %}

{% block notice_body %}
	<div class="row">
		<div class="col">
			<p>{{ strings.setup }}</p>
			<p><a href="{{ hrefs.wizard }}" target="_blank">{{ strings.launch }} &rarr;</a></p>
		</div>
	</div>
{% endblock %}