{% extends "/notices/base-info.twig" %}

{% block notice_body %}
{% if strings.launch %}
	<div class="row">
		<div class="col">
			<p>{{ strings.setup }}</p>
			<p><a href="{{ hrefs.wizard }}">{{ strings.launch }} &rarr;</a></p>
		</div>
	</div>
{% endif %}
{% endblock %}