{% extends '/wpadmin_pages/insights_new/base.twig' %}

{% block body_main %}
	<div class="row">
		<div class="col-12 insights_section">
			{% include '/wpadmin_pages/insights_new/insights/stats.twig' %}
		</div>
	</div>
	<div class="row">
		<div class="col-12 insights_section">
			{% include '/wpadmin_pages/insights_new/insights/notices.twig' %}
		</div>
	</div>
	<div class="row">
		<div class="col-12 insights_section">
			{% include '/wpadmin_pages/insights_new/insights/recent_events.twig' %}
		</div>
	</div>
{% endblock %}