<div id="SectionIpsBlack" class="insights_widget card w-100">
	<div class="card-header">
		<h5 class="card-title">White Listed IP Addresses</h5>
		<h6 class="card-subtitle mb-2 text-muted">IPs That Are Never Subject To Shield Security Measures</h6>
	</div>
	<div class="card-body overflow_container">
		<div class="overflow_inner">
			{% if vars.insight_ips.has_white %}
				<table class="table mb-0 table-borderless">
					<thead>
						<tr>
							<th>IP Address</th>
							<th>Label</th>
						</tr>
					</thead>
					<tbody>
					{% for ip in vars.insight_ips.white %}
						<tr>
							<td>{{ ip.ip }}{% if ip.is_you %}<br/>(you){% endif %}</td>
							<td>{{ ip.label }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			{% else %}
				There are currently no whitelisted IP addresses.
			{% endif %}
		</div>
	</div>
</div>