<div id="SectionIpsBlack" class="insights_widget card w-100">
	<div class="card-header">
		<h5 class="card-title">Black Listed IP Addresses</h5>
		<h6 class="card-subtitle mb-2 text-muted">All Black Listed and Blocked IPs <em>right now</em></h6>
	</div>
	<div class="card-body overflow_container">
		<div class="overflow_inner">
			{% if vars.insight_ips.has_black %}
				<table class="table mb-0 table-borderless">
					<thead>
						<tr>
							<th>IP Address</th>
							<th>Offences<br />(Last Seen)</th>
							<th>Blocked?</th>
						</tr>
					</thead>
					<tbody>
					{% for ip in vars.insight_ips.black %}
						<tr>
							<td>{{ ip.ip }}{% if ip.is_you %}<br/>(you){% endif %}</td>
							<td>{{ ip.trans }}<br />({{ ip.last_access_at }})</td>
							<td>{% if ip.blocked %}Yes{% else %}No{% endif %}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			{% else %}
				There are currently no blacklisted IP addresses.
			{% endif %}
		</div>
	</div>
</div>