{% extends '/wpadmin_pages/insights/base.twig' %}

{% block page_main %}
	<div class="row">
		<div class="col insights-sub-nav insights_section">
			<ul class="nav nav-tabs" id="TabsIps">
				<li class="nav-item">
					<a class="nav-link active" data-toggle="tab" role="tab" href="#ipanalysis">
						{{ strings.tab_ip_analysis }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" role="tab" href="#blocklist">
						{{ strings.tab_manage_block }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" role="tab" href="#allowedlist">
						{{ strings.tab_manage_bypass }}
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="tab-content">
		<div class="tab-pane fade" id="allowedlist" role="tabpanel" aria-labelledby="allowedlist">
			<div class="row">
				<div class="col insights_section">
					{% include '/wpadmin_pages/insights/ips/ips_white.twig' %}
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="blocklist" role="tabpanel" aria-labelledby="blocklist">
			<div class="row">
				<div class="col insights_section">
					{% include '/wpadmin_pages/insights/ips/ips_black.twig' %}
				</div>
			</div>
		</div>
		<div class="tab-pane fade show active" id="ipanalysis" role="tabpanel" aria-labelledby="ipanalysis">
			<div class="row">
				<div class="col insights_section">
					{{ content.ip_review|raw }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block inline_scripts %}
	<script type="text/javascript">
		jQuery( document ).ready( function () {
			jQuery( '#TabsIps a[data-toggle="tab"]' ).on( 'show.bs.tab', function ( e ) {
				localStorage.setItem( 'ipsActiveTab', jQuery( e.target ).attr( 'href' ) );
			} );
			var activeTab = localStorage.getItem( 'ipsActiveTab' );
			if ( activeTab ) {
				jQuery( 'a[href="' + activeTab + '"]' ).tab( 'show' );
			}
		} );
	</script>
{% endblock %}