{% extends '/wpadmin_pages/insights/base.twig' %}

{% block page_main %}
	<div class="row">
		<div class="col insights-sub-nav insights_section">
			<ul class="nav nav-tabs" id="TabsIps">
				<li class="nav-item">
					<a class="nav-link active" data-toggle="tab" role="tab" href="#ipanalysis">
						{{ strings.tab_ip_analysis }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" role="tab" href="#blocklist">
						{{ strings.tab_manage_block }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" role="tab" href="#allowedlist">
						{{ strings.tab_manage_bypass }}
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="tab-content">
		<div class="tab-pane fade" id="allowedlist" role="tabpanel" aria-labelledby="allowedlist">
			<div class="row">
				<div class="col insights_section">
					{% include '/wpadmin_pages/insights/ips/ips_white.twig' %}
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="blocklist" role="tabpanel" aria-labelledby="blocklist">
			<div class="row">
				<div class="col insights_section">
					{% include '/wpadmin_pages/insights/ips/ips_black.twig' %}
				</div>
			</div>
		</div>
		<div class="tab-pane fade show active" id="ipanalysis" role="tabpanel" aria-labelledby="ipanalysis">
			<div class="row">
				<div class="col insights_section">
					{{ content.ip_review|raw }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}