{% block inline_styles %}
{% endblock %}

<div class="wrap container-fluid">
	<div id="odp-body-container" class="odp-admin-page {{ classes.page_container|default('') }}">
		{% block h1heading %}<h1 style="height: 0; display: none">&nbsp;</h1>{% endblock %}
		<div id="odp-BodyContainer">
		{% block body %}
			<div class="row" id="odp-BodyHead">
				<div class="col">
					{% block body_head %}Override this block for the header area{% endblock %}
				</div>
			</div>

			<div class="row" id="odp-BodyMain">
				<div class="col">
					{% block body_main %}Override this block for the body area{% endblock %}
				</div>
			</div>

			<div class="row" id="odp-BodyFoot">
				<div class="col">
					{% block body_foot %}Override this block for the footer area{% endblock %}
				</div>
			</div>
		{% endblock %}
		</div>
	</div>
</div>
