{% block inline_styles %}
{% endblock %}

{% block top_container %}
	<div id="PageContainer-Apto" class="container-fluid g-2 {{ classes.top_container|default('') }}">
		{% block h1heading %}<h1 style="height: 0; display: none">&nbsp;</h1>{% endblock %}
		{% block body %}
			<div class="row" id="PageHead-Apto">
				<div class="col">
					{% block page_head %}Override this block for the header area{% endblock %}
				</div>
			</div>

			<div class="d-flex flex-row justify-content-start" id="PageMain-Shield">
				{% if flags.show_sidebar_nav|default(true) %}
					<div id="PageMainSide-Apto" class="d-flex flex-column">

						{% include '/wpadmin/components/page/logo_sidebar.twig' %}
						{% include '/wpadmin/components/search/super_search.twig' %}

						{% block page_main_side %}
							{% include '/wpadmin/components/page/nav_sidebar.twig' %}
						{% endblock %}
					</div>
				{% endif %}

				<div id="PageMainBody_Inner-Apto" class="mt-2 flex-fill" >
					<div class="row row-cols-1">
						<div class="col">
							{% block page_main %}
							{% endblock %}
						</div>
					</div>
				</div>
			</div>

			{% block page_foot %}{% endblock %}

		{% endblock %}

		{% block html_placeholders %}
			{% include '/components/html/offcanvas.twig' %}
			{% include '/components/html/modal_super_search.twig' %}
			{% include '/components/html/wait_spinner.twig' %}
			{% include '/components/html/loading_placeholders/config.twig' %}
			{% include '/components/modals/shield_modal_container.twig' %}
		{% endblock %}

	</div>

{% endblock %}

{% block inline_scripts %}
{% endblock %}