<h5 class="my-3">
	{{ strings.table_title }}
	<small class="float-end">
		{% if flags.can_create_report %}
			<a href="#"
			   class="btn btn-sm btn-primary offcanvas_report_create_form"
			   title="">{{ strings.create_custom_report }}</a>
		{% else %}
			<button disabled="disabled" aria-disabled="true"
					class="btn btn-sm disabled">{{ strings.custom_reports_unavailable }}</button>
		{% endif %}
	</small>
</h5>
<div id="ReportsTable">
	{{ content.reports_table|raw }}
</div>