<div class="row" id="SectionInsightsScans">
	<div class="col-12">
		{% include '/wpadmin_pages/insights_new/scans/scan_start_areas.twig' %}
	</div>
	<div class="col-12">
		{% include '/wpadmin_pages/insights_new/scans/scan_start_results.twig' %}
	</div>
</div>

<script>
	jQuery( 'form#StartScan' ).icwpWpsfScans( {
		'selector_section': '#SectionInsightsScans'
	} );
</script>