<div class="row" id="SectionInsightsScans">
	<div class="col-12">
		{% include '/wpadmin_pages/insights_new/scans/scan_areas.twig' %}
	</div>
	<div class="col-12">
		{% include '/wpadmin_pages/insights_new/scans/scan_results.twig' %}
	</div>
</div>

<script>
</script>