<form id="StartScans">
	<div class="card">
		<div class="card-header">
			<h5 class="card-title">Scan Now</h5>
			<h6 class="card-subtitle mb-2 text-muted">Select which areas of your site to scan</h6>
		</div>
		<div class="card-body pb-2">

			<div class="row">
				<div class="col-xl-10 col-lg-10 col-md-9 insights_widget">
					<div class="row">

						<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
							<div class="scan-select pl-2 text-nowrap">
								<label for="_wcf" class="col-form-label">
									<input type="checkbox" class="form-control text-right"
										   name="wcf" id="_wcf" value="Y" />
									WordPress Core Files
								</label>
							</div>
						</div>

						<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
							<div class="scan-select pl-2 text-nowrap">
								<label for="_ufc" class="col-form-label">
									<input type="checkbox" class="form-control text-right"
										   name="ufc" id="_ufc" value="Y" />
									Unrecognised Core Files
								</label>
							</div>
						</div>

						<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
							<div class="scan-select pl-2 text-nowrap">
								<label for="_ptg" class="col-form-label">
									<input type="checkbox" class="form-control text-right"
										   name="ptg" id="_ptg" value="Y" />
									Plugin/Theme Modifications
								</label>
							</div>
						</div>

						{#<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">#}
							{#<div class="scan-select pl-2 text-nowrap">#}
								{#<label for="chVuln" class="col-form-label">#}
									{#<input type="checkbox" class="form-control text-right" id="chVuln" value="Y" />#}
									{#Plugin Vulnerabilities#}
								{#</label>#}
							{#</div>#}
						{#</div>#}

						{#<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">#}
							{#<div class="scan-select pl-2 text-nowrap">#}
								{#<label for="chPtdev" class="col-form-label">#}
									{#<input type="checkbox" class="form-control text-right" id="chPtdev" value="Y" />#}
									{#Plugin Deviance from WP.org#}
								{#</label>#}
							{#</div>#}
						{#</div>#}

					</div>
				</div>

				<div class="col-xl-2 col-lg-2 col-md-3">
					<button class="btn btn-primary" type="submit" id="StartScans">Start Scan &rarr;</button>
				</div>

			</div>
		</div>
		<div class="card-footer">
			The more items that are selected, the longer the scan may take
		</div>
	</div>
</form>

<script>
	jQuery( 'form#StartScans' ).icwpWpsfStartScans(
		{
			'ajax_start_scans':{{ ajax.start_scans|raw }}
		}
	);
</script>