{% block step_header %}
{% endblock %}

{% block step_body %}

	<div class="row row-cols-1 justify-content-center">
		<div class="col-12 col-xl-10 col-lg-12 col-md-12">

			{% block slide_body_title %}
				<h4 class="mb-3">{{ strings.step_title|default('NO TITLE') }}</h4>
			{% endblock %}

			{% block slide_body_section_pre_content %}
				<div class="row">
					<div class="col-lg-12 col-xl-8">
						{% block slide_body_video_section_blurb %}{% endblock %}
					</div>
				</div>
			{% endblock %}
			{% block slide_body_video_section %}
				<div class="row">
					<div class="col col-8">
						<div class="mt-4">
							{% block slide_body_action_area %}{% endblock %}
						</div>
					</div>
					<div class="col col-4">
						{# was a space for featherlight vimeo icwp_macros.embedVimeoFeather #}
					</div>
				</div>
			{% endblock %}

		</div>
	</div>
{% endblock %}

{% block step_footer %}
{% endblock %}