{% block step_header %}
{% endblock %}

{% block step_body %}

	{% block slide_body_title %}
		<h4 class="mb-3">{{ strings.step_title|default('NO TITLE') }}</h4>
	{% endblock %}

	{% block slide_body_section_pre_content %}
		{% block slide_body_video_section_blurb %}{% endblock %}
	{% endblock %}

	{% block slide_body_video_section %}
		{% block slide_body_action_area %}{% endblock %}
	{% endblock %}

{% endblock %}

{% block step_footer %}
{% endblock %}
