{% extends '/components/merlin/steps/base.twig' %}

{% block slide_body_video_section_blurb %}
	<p>If this is your first time installing Shield, please use this Welcome Wizard to
				   help you get started.</p>
	<p>Shield Security does a lot, and has a lot of options.</p>
	<p>We encourage you to watch the videos at each stage to familiarise yourself with
				   the details of settings you're changing.</p>
{% endblock %}