{% extends '/components/merlin/steps/base.twig' %}

{% block slide_body_video_section_blurb %}
	<p>Shield Security does a lot, so it can be hard to know where to begin.</p>
	<p>This wizard will walk you through some of Shield's key features, to get you up and running in under 3 minutes.</p>
	<p>Let's go!</p>
{% endblock %}