{% extends '/components/merlin/steps/base.twig' %}

{% block slide_body_video_section_blurb %}
	<p>If this is your first time installing Shield, please use this guided setup wizard to help you get started.</p>
	<p>As Shield Security does a lot, and has a lot of options, we've provided this guided setup to introduce
	   some key features, and help you get started quickly with some important features.</p>
	<p>We encourage you to watch the videos at each stage that has them, to familiarise yourself with
	   the details of settings you're changing.</p>
	<p>You can skip any steps, or go back and revisit previous steps, or even exit the wizard altogether using
	   the link at the bottom of each step.</p>
{% endblock %}