{% extends '/components/merlin/steps/base.twig' %}

{% block slide_body_video_section_blurb %}
	<p>Shield's exclusive Security Admin feature adds a security layer to the plugin itself.
		It ensures that only certain admins can modify your security settings and it can also protect against tampering
		of critical WP options.
	</p>
	<p>To turn this option on, please supply a password below (aka 'Security PIN').</p>
{% endblock %}

{% block slide_body_action_area %}
	{% import '/common/macros.twig' as icwp_macros %}

	<form class="form-horizontal merlin-form ajax-form">

		<div class="row">
			<div class="col mb-2">
				<h6>Supply A Security Access PIN</h6>
			</div>
		</div>

		<div class="row">
			<div class="col">
				{{ icwp_macros.formInput_Password( 'SecAdminPIN', '', 'PIN', '', "Don't forget this PIN" ) }}
				{{ icwp_macros.formInput_Password( 'SecAdminPINConfirm', '', 'Confirm PIN', 'Confirm PIN','','','my-2' ) }}

				{{ icwp_macros.formInput_Hidden( 'step_slug', vars.step_slug ) }}
				{{ icwp_macros.formInput_Submit2( 'Turn On Security Admin', null, null, false, 'mt-2' ) }}
			</div>
		</div>

	</form>
{% endblock %}