<div class="actions-queue-groups"
	 data-actions-queue-groups="1">
	{% if groups is empty %}
		<div class="actions-landing__empty-state">
			{{ empty_message }}
		</div>
	{% else %}
		<div class="actions-queue-groups__findings">
			{% set previous_heading = '' %}
			{% for group in groups %}
				{% if group.display_section != 'healthy' %}
					{% if group.show_heading and group.heading_label != previous_heading %}
						<div class="finding-group__heading">{{ group.heading_label }}</div>
						{% set previous_heading = group.heading_label %}
					{% endif %}
					{% include '/wpadmin/components/actions_queue/group_card.twig' with {
						group: group,
						bucket_selection: bucket_selection
					} only %}
				{% endif %}
			{% endfor %}

			{% set healthy_body_html %}
				{% set previous_heading = '' %}
				{% for group in groups %}
					{% if group.display_section == 'healthy' %}
						{% if group.show_heading and group.heading_label != previous_heading %}
							<div class="finding-group__heading">{{ group.heading_label }}</div>
							{% set previous_heading = group.heading_label %}
						{% endif %}
						{% include '/wpadmin/components/actions_queue/group_card.twig' with {
							group: group,
							bucket_selection: bucket_selection
						} only %}
					{% endif %}
				{% endfor %}
			{% endset %}

			{% if healthy_body_html|trim != '' %}
				{% include '/wpadmin/components/page/healthy_disclosure.twig' with {
					label: healthy_heading_label,
					body_html: healthy_body_html,
					body_class: 'actions-queue-groups__healthy-body'
				} only %}
			{% endif %}
		</div>
	{% endif %}
</div>
