<div class="actions-queue-detail"
	 data-actions-queue-detail="1">
	<div class="actions-queue-detail__header">
		<div class="actions-queue-detail__eyebrow">{{ group_selection.label }}</div>
		<div class="actions-queue-detail__summary">{{ strip_text }}</div>
	</div>
	<div class="actions-queue-detail__body">
		{{ detail_html|raw }}
	</div>
</div>
