{% extends 'wizard/slides/common/base.twig' %}

{% block slide_body %}
	{{ slideMacros.slideTitle( 'Turn On Automatic Unrecognised File Scanner' ) }}

	<p>It looks like the unrecognised file scanner isn't set to run automatically.</p>
	<p>You can adjust this setting using the form below.</p>
	<p>We recommend the final option - Delete & Report
	   (automatically delete discovered files and send an email report).</p>

	<form class="form-horizontal icwp-wizard-form">
		{% set radiovalues =
			{
				'enabled_report_only': '<span>Report Only</span> - send email reports only.',
				'enabled_delete_only': "<span>Delete Only</span> - automatically delete discovered files; don't send email report.",
				'enabled_delete_report': "<span>Delete &amp; Report</span> - automatically delete discovered files; send email report. (<em>recommended</em>)"
			}
		%}
		{{ slideMacros.formInput_Radio( 'enable_scan', radiovalues, 'Enable Automatic Scanning' ) }}

		{{ slideMacros.formInput_Hidden( 'wizard-step', 'ufcconfig' ) }}
		{{ slideMacros.formInput_Submit( 'Set Automatic Scan' ) }}
	</form>
{% endblock %}