{% extends 'wizard/slides/common/base_finish.twig' %}

{% block slide_body_top %}
	<h3>Finished: Unrecognised File Scanner</h3>
	<p>This is the end of Shield Security's Unrecognised File Scanner Wizard.</p>
{% endblock %}