{% extends 'wizard/slides/common/base_start.twig' %}

{% block slide_body %}
	{{ slideMacros.slideTitle( 'Start Unrecognised File Scanner' ) }}

	<p>What is the Unrecognised File Scanner?</p>
	<p>Where the Core File Scanner is preoccupied with finding any official
	   WordPress files that are corrupt, the Unrecognised File Scanner is focused on
	   discovering all the other files on your web hosting that are not part of a
	   standard WordPress Installation.</p>
	<p>Why are these files important?</p>
	<p>They could perfectly fine, or they could be script files that a hacker has deployed on your hosting
	   to access your site or corrupt your WordPress installation in some way.</p>
	<p><strong>Important Note: this scanner cannot direct you whether you should delete or keep these files,
			   it can only tell you that they exist. It is up to you to determine if they're okay.</strong>
	</p>
	<p>If you're in doubt, please discuss any results with your hosting provider.</p>
{% endblock %}