{% extends '/email/base_email.twig' %}

{% block email_body %}
	<p>A change in the constituency of administrators on your site has been detected: {{ body.vars.url_site }}</p>

	{% for change_type,changes in body.vars.admins %}

		{% if changes|length > 0 %}
			<h5 style="margin-bottom: 5px;">Change Detected: {{ attribute(body.strings, change_type) }}</h5>
			<div style="margin:6px 0;padding:20px;border:1px dashed gray;display:inline-block;background-color: #ff000005;">
				<ul style="margin:5px 0 0 0;padding:0;">
					{% for admin in changes %}
						<li>Username: <strong>{{ admin }}</strong>
					{% endfor %}
				</ul>
			</div>
		{% endif %}

	{% endfor %}

	<p>These changes may be normal and expected, but if anything looks strange, you should review your list of site admins immediately.</p>
{% endblock %}