{% extends '/wpadmin_pages/insights/base.twig' %}

{% block page_head_titlemenu %}
	{{ parent() }}
{% endblock page_head_titlemenu %}

{% block page_main %}
	<div class="row" id="ModulePageTopRow">
		<div class="col" id="ColumnOptions">
			<div class="content-options"> {{ strings.loading }} ... </div>
		</div>
	</div>
{% endblock %}