<div class="row mt-3 scan-results-section" id="ScanResultsThemes">
	<div class="col-12">
		{% include '/wpadmin/components/actions_queue/summary_rows.twig' with {
			items: vars.themes|default([])
		} only %}
	</div>
</div>
