<style>
	.shield_gasp_placeholder {
		clear: both;
		border: 1px solid #dddddd;
		padding: 6px 8px 4px 10px;
		margin: 0 0 12px !important;
		border-radius: 2px;
		background-color: #f9f9f9;
	}
	.shield_gasp_placeholder input {
		margin-right: 5px;
	}
	.shield_gasp_placeholder label {
		display: block;
	}
</style>
<p class="shield_gasp_placeholder">{{ strings.loading }} &hellip;</p>