@CHARSET "ISO-8859-1";

#wpbody-content .icwp-admin-notice {
	margin: 25px 5px 20px;
	padding: 10px 20px 8px;
	border: 1px solid rgba(51, 240, 4, 0.56);
	background-color: rgba(175, 230, 152, 0.5);
	border-right-width: 5px;
	border-left-width: 5px;
}

#wpbody-content .icwp-admin-notice,
#wpbody-content .icwp-admin-notice p {
	text-shadow: -1px -1px 0 rgba( 255, 255, 255, 0.4 );
}
#wpbody-content .icwp-admin-notice.updated,
#wpbody-content .icwp-admin-notice.updated p {
	color: rgba( 26, 111, 0, 1 );
}
#wpbody-content .icwp-admin-notice form {
	margin: 0;
}
#wpbody-content .icwp-admin-notice p.dismiss-p {
	margin: 10px 4px 0 0;
}
#wpbody-content .icwp-admin-notice .button:hover {
	text-decoration: none;
}

#wpbody-content .icwp-admin-notice .notice-dismiss::before {
	color: rgba(0, 0, 0, 0.5);
	font-size: 24px;
	line-height: 21px;
	padding-right: 4px;
}

#wpbody-content .info.icwp-admin-notice,
#wpbody-content .promo.icwp-admin-notice {
	background-color: rgba(40, 158, 214, 0.25);
	border-color: rgba(25, 104, 137, 0.99);
}
#wpbody-content .info.icwp-admin-notice,
#wpbody-content .info.icwp-admin-notice p,
#wpbody-content .promo.icwp-admin-notice,
#wpbody-content .promo.icwp-admin-notice p {
	color: rgba(21, 77, 111, 0.99);
}

#wpbody-content .error.icwp-admin-notice {
	border-color: rgba(240, 51, 4, 0.56);
	background-color: rgba(255, 185, 167, 0.25);
}
#wpbody-content .error.icwp-admin-notice h3 {
	color: rgba(199, 41, 0, 1);
}

th.column-icwp_autoupdate, td.icwp_autoupdate, th#icwp_autoupdate {
	text-align: center;
	vertical-align: middle;
}
td.icwp_autoupdate span.icwp-pluginautoupdateicon.dashicons-update {
	color: #559c6a;
}
td.icwp_autoupdate span.icwp-pluginautoupdateicon.dashicons-hammer {
	color: #87492e;
}

tr.icwp-plugin-vulnerability td {
	background: #ff3019; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */

	color: white;
	padding: 12px 20px;
}
tr.icwp-plugin-vulnerability .vuln_type {
	font-style: italic; 
}
tr.icwp-plugin-vulnerability td a {
	color: white;
	font-weight: bold;
	text-decoration: underline;
}
tr.icwp-plugin-vulnerability dl {
	margin: 12px 0;
}
tr.icwp-plugin-vulnerability dd {
	margin-bottom: 3px;
}

.restricted-option {
	background-color: rgba(255, 255, 255, 0.6);
	border: 1px solid;
	border-radius: 3px;
	clear: both;
	color: rgba(195, 71, 76, 0.9);
	display: inline-block;
	line-height: 22px;
	margin: 2px 0 4px;
	padding: 7px 8px 5px 6px;
}

.shield-user-options-block {
}
.shield-user-options-block table {
	margin-left: 1em;
}
.shield-user-options-block #shield_ga_secret {
	letter-spacing: 5px;
	font-family: monospace;
	font-size: 24px;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
	border: 1px solid rgba(0,0,0,0.1);
	padding: 0 7px;
	background-color: whitesmoke;
}

.wp-submenu-wrap a .icwp_highlighted {
	color: yellow;
}

#icwp-wpsf-dashboard_widget {
}
#tableShieldStatisticsWidget {
	background-color: rgba(0, 0, 0, 0.02);
	border: 1px solid #eeeeee;
	padding: 5px 10px;
	width: 100%;
}


.icwp-toggle-switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.icwp-toggle-switch input {display:none;}

/* The slider */
.icwp-toggle-switch {
	cursor: pointer;
}
.icwp-toggle-switch .slider {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #c1bfa9;
	-webkit-transition: .4s;
	transition: .4s;
}

.icwp-toggle-switch .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

.icwp-toggle-switch input:checked + .slider {
	background-color: #65bd84;
}

.icwp-toggle-switch.disabled input + .slider {
	background-color: #bd7429;
}

.icwp-toggle-switch input:focus + .slider {
	box-shadow: 0 0 1px #65bd84;
}

.icwp-toggle-switch input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.icwp-growl-notice {
	-webkit-transition: width 1.5s;
	transition: width 1.5s;
	transition-timing-function: ease;
	-webkit-transition-timing-function: ease;

	visibility: hidden;

	height: 20px;
	max-height: 20px;
	width: 0;
	font-size: 18px;
	color: #ffffff;
	position: fixed;
	bottom: 0;
	line-height: 22px;
	box-shadow: 1px 2px 6px rgba(0,0,0,0.6);
	z-index: 100000;
	opacity: 0.94;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}
.icwp-growl-notice.shown {
	padding: 23px 20px;
	width: 100%;
	visibility: visible;
}
.icwp-growl-notice:before {
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font: 28px/1 'dashicons';
	vertical-align: top;
}
.icwp-growl-notice.success:before {
	content: "\f147";
}
.icwp-growl-notice.failed:before {
	content: "\f158";
}
.icwp-growl-notice.success {
	background: #008a00; /* Old browsers */
	background: -moz-linear-gradient(45deg, #008a00 0%, #005700 91%, #004200 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #008a00 0%,#005700 91%,#004200 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #008a00 0%,#005700 91%,#004200 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008a00', endColorstr='#004200',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.icwp-growl-notice.failed {
	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(45deg, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#icwp-fade-wrapper {
	display: none;
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 999999;
}

.icwp-waiting {
	width: 200px;
	height: 200px;
	position: fixed;
	top: 40%;
	left: 50%;
	background: url("https://media.giphy.com/media/LLd6Ma5vQtXyw/giphy.gif") no-repeat 0 0 transparent;
	background: url("https://media.giphy.com/media/sxJ1nCeUoNSfe/giphy.gif") no-repeat 0 0 transparent;
}