@CHARSET "ISO-8859-1";

#wpbody-content .icwp-admin-notice {
	margin: 25px 5px 20px;
	padding: 10px 20px 8px;
	border: 1px solid rgba(240, 165, 4, 0.56);
	background-color: rgba(255, 227, 167, 0.25);
	border-right-width: 5px;
	border-left-width: 5px;
}

#wpbody-content .icwp-admin-notice p {
	text-shadow: -1px -1px 0 rgba(255,255,255,0.4);
}
#wpbody-content .icwp-admin-notice.updated p {
	color: rgba(155, 107, 5, 1);
}
#wpbody-content .icwp-admin-notice form {
	margin: 0;
}
#wpbody-content .icwp-admin-notice p.dismiss-p {
	margin: 10px 4px 0 0;
}
#wpbody-content .icwp-admin-notice .button:hover {
	text-decoration: none;
}

#wpbody-content .icwp-admin-notice .notice-dismiss::before {
	color: rgba(0, 0, 0, 0.5);
	font-size: 24px;
	line-height: 21px;
	padding-right: 4px;
}

#wpbody-content .promo.icwp-admin-notice {
	background-color: rgba(40, 214, 40, 0.25);
	border-color: rgba(25, 137, 25, 0.99);
}
#wpbody-content .promo.icwp-admin-notice,
#wpbody-content .promo.icwp-admin-notice p {
	color: rgba(21, 111, 21, 0.99);
}

#wpbody-content .info.icwp-admin-notice {
	background-color: rgba(6, 164, 255, 0.25);
	border-color: rgba(6, 90, 150, 0.99);
}
#wpbody-content .info.icwp-admin-notice,
#wpbody-content .info.icwp-admin-notice p {
	color: rgba(6, 90, 150, 0.99);
}

#wpbody-content .error.icwp-admin-notice {
	border-color: rgba(240, 51, 4, 0.56);
	background-color: rgba(255, 185, 167, 0.25);
}
#wpbody-content .error.icwp-admin-notice h3 {
	color: rgba(199, 41, 0, 1);
}

td.icwp_autoupdate, th#icwp_autoupdate {
	text-align: center;
	vertical-align: middle;
}
td.icwp_autoupdate span.icwp-pluginautoupdateicon.dashicons-update {
	color: #559c6a;
}
td.icwp_autoupdate span.icwp-pluginautoupdateicon.dashicons-hammer {
	color: #87492e;
}

tr.icwp-plugin-vulnerability td {
	background: #ff3019; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */

	color: white;
	padding: 12px 20px;
}
tr.icwp-plugin-vulnerability .vuln_type {
	font-style: italic; 
}
tr.icwp-plugin-vulnerability td a {
	color: white;
	font-weight: bold;
	text-decoration: underline;
}
tr.icwp-plugin-vulnerability dl {
	margin: 12px 0;
}
tr.icwp-plugin-vulnerability dd {
	margin-bottom: 3px;
}

.restricted-option {
	background-color: rgba(255, 255, 255, 0.6);
	border: 1px solid;
	border-radius: 3px;
	clear: both;
	color: rgba(195, 71, 76, 0.9);
	display: inline-block;
	line-height: 22px;
	margin: 2px 0 4px;
	padding: 7px 8px 5px 6px;
}

.shield-user-options-block {
}
.shield-user-options-block table {
	margin-left: 1em;
}