@CHARSET "ISO-8859-1";

/* GENERAL STYLES */
	
.bootstrap-wpadmin {
}
.bootstrap-wpadmin .row {
	margin-left: 0;
}
#pluginlogo_32 {
	background: url("../images/pluginlogo_32x32.png") no-repeat 0 3px transparent;
}
.pluginlogo_16 {
	background: url("../images/pluginlogo_16x16.png") no-repeat 0 3px transparent;
}
.page-header .header-icon32 {
	display: inline-block;
	float: left;
	height: 40px;
	vertical-align: middle;
	width: 48px;
}
.plugin_update_message {
	color: #dd3333;
}
.wrap .icon32 {
	width: 32px;
}

.icwp-options-page ul.nav-tabs {
	margin: 0;
}
.icwp-options-page ul.nav-tabs li a {
	background-color: #e3e3e3;
	border: 1px solid transparent;
	border-bottom: 0 none;
	margin-left: 5px;
}
.icwp-options-page ul.nav-tabs li a:focus {
	box-shadow: none;
}
.icwp-options-page ul.nav-tabs li a:hover {
	background-color: #dddddd;
	border-color: #999999;
}
.icwp-options-page .tab-content {
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-top: 0 none;
}

.icwp-options-page .form-actions {
	background-color: #d8d8d8;
	border: 0 none;
	border-radius: 0 0 10px 10px;
	margin: 0;
	padding: 27px;
}
.icwp-options-page .form-actions .btn {
	padding: 16px 40px;
}

table.table-audit_trail {
	border: 2px solid #777777;
	margin-bottom: 40px;
	width: auto;
}

table.table-audit_trail .cell-time {
	width: 90px;
	max-width: 90px;
}
table.table-audit_trail .cell-username {
	width: 120px;
	max-width: 120px;
}
table.table-audit_trail .cell-event {
	width: 100px;
	max-width: 100px;
}
table.table-audit_trail .cell-category {
	width: 80px;
	max-width: 80px;
}
table.table-audit_trail .cell-message {
	width: 200px;
	max-width: 250px;
}
table.table-audit_trail .cell-ip {
	width: 200px;
	max-width: 240px;
}



.bootstrap-wpadmin .page-header {
	padding-bottom: 17px;
	margin: 18px 0 0;
	border-bottom: 1px solid #EEE;
}
/* Form elements */
.bootstrap-wpadmin form fieldset {
	width: 80%;
}
.bootstrap-wpadmin .label {
	vertical-align: baseline !important;
}
.shortcode-usage {
	border-bottom: 1px solid #bbbbbb;
	margin-bottom: 10px;
}
p.code-description {
	font-style: italic;
}
/* Worpit promo */
#worpit_button {
	background: url("../images/bright_squares.png") #EFEFEF;
}
#worpit_button {
	border: 1px solid #cccccc;
	border-radius: 4px;
	height: 190px;
}
#worpit_button:hover {
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
	border: 1px solid transparent;
}
.row#developer_channel_promo #developer_channel_description .well {
	height: 275px;
}
.row#developer_channel_promo #developer_channel_form {
	border: 1px solid #EEE;
	border-radius: 6px;
	height: 315px; /* 275px + 20px-padding-x2 */
}
.row#developer_channel_promo #developer_channel_form h3 {
	padding: 10px 20px;
}

.row.option_section_row {
	margin-left: 0;
	padding-bottom: 24px;
}
.row.option_section_row.primary_section {
	border: 1px solid transparent;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	padding-bottom: 30px;
}
/*
.row.option_section_row.primary_section > div {
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	margin-bottom: 30px;
	margin-top: 10px;
	padding: 5px 30px 30px;
}
.row.option_section_row.non_primary_section > div {
	margin-left: 0px;
}*/

.well.admin_access_restriction_form {
	background-color: #fbfbfb;
	border: 1px solid #ccc;
	box-shadow: none;
}

.well.admin_access_restriction_form .form-actions {
	background-color: #fbfbfb;
}

/** LESS PAGE **/
.enabled_section {
	opacity: 1.0;
}
.disabled_section {
	opacity: 0.5;
}
/* BOOSTRAP SETTINGS PAGE STYLES */

/** Section summaries **/
.row.row_section_summary {
	margin: 10px 0 20px;
}
.row.row_section_summary div {
	background-color: #f1f1f1;
	border-radius: 2px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	margin: 0;
	padding: 15px 0 12px;
}
.row.row_section_summary p {
	margin: 0 20px 12px 20px;
	font-family: 'Open Sans';
}
.row.row_section_summary p.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/** End-Section summaries **/

.wrap .icon32 {
	width: 32px;
}
.submit span {
	font-size: smaller;
	font-style: italic;
}
.form-horizontal legend {
	border-bottom: 1px dashed #aaaaaa;
	margin-bottom: 11px;
	padding: 16px 0 3px;
}
.form-horizontal .item_group .control-group {
	margin-bottom: 0;
}
.form-horizontal .item_group {
	border-radius: 4px;
	box-sizing: border-box;
	margin-bottom: 10px;
	padding: 20px 20px 20px 0;
 }
.form-horizontal .selected_item_group {
	border: 1px solid rgba(135, 232, 38, 0.55);
	background-color: rgba(135, 232, 38, 0.1);
}
.option_section {
	background-color: rgba(0, 0, 0, 0.008);
	border: 1px solid #E6E6E6;
	border-radius: 4px;
	padding: 8px 10px;
}
.option_section label {
	background-color: transparent;
}
.selected_item label {
	font-weight: bold;
}
.nonselected_item {
	background-color: transparent;
}
.nonselected_item label {
	font-weight: normal;
}
.option_section:hover {
	background-color: #ffffff;
	border: 1px dashed #BBBBBB;
	cursor: pointer;
}

.option_section.active {
	background-color: #f6f6f6;
	border-color: #dddddd;
}
table.table th {
	border-bottom: 1px solid #777777;
}

table.tbl_tbs_options {
	width: 100%;
	border: 1px solid transparent;
}
table.tbl_tbs_options tr td {
	width: 49%;
	border: 1px solid transparent;
}

select#hlt_bootstrap_option {
	padding: 5px;
	border-radius:6px 6px 6px 6px;
	height: 30px;
	width: 200px;
}

table#tbl_tbs_options_javascript td {
	vertical-align: top;
	width: 50%;
}

/** OPTIONS PAGES **/
.bootstrap-wpadmin .row.row_number_1 {
	padding-top: 18px;
}

label input[type=checkbox] {
	height: 16px !important;
}

/** FEature summaries **/

.feature-summary-blocks {
	margin: 10px 0 25px;
}

.feature-summary-blocks .feature-icon:before {
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font: 48px/1 'dashicons';
	vertical-align: top;
}
.feature-summary-blocks {
	background-color: rgba(255, 255, 255, 0.4);
	border: 1px solid rgba(0, 0, 0, 0.06);
	border-radius: 2px;
	margin: 0 0 25px;
	padding: 24px 0;
}
.feature-summary-blocks a {
	text-shadow: 1px 0 0 rgba(0, 0, 0, 0.4);
}
.feature-summary-blocks .feature-icon:before {
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font: 48px/1 'dashicons';
	vertical-align: top;
}
.feature-summary-blocks .state-on a {
	color: rgba( 82, 196, 45, 0.85 );
}
.feature-summary-blocks .state-off a {
	color: rgba( 239, 141, 49, 0.85 );
}
.feature-summary-blocks .state-on a:hover {
	color: rgba( 82, 196, 45, 1 );
}
.feature-summary-blocks .state-off a:hover {
	color: rgba( 239, 141, 49, 1 );
}

.feature-summary-blocks .feature-summary-block.state-on {
	background-color: rgba( 102, 216, 45, 0.2 );
}
.feature-summary-blocks .feature-summary-block.state-off {
	background-color: rgba( 239, 141, 49, 0.2 );
}
#feature-dashboard .feature-icon:before,
#feature-admin_access_restriction .feature-icon:before {
	content: "\f332";
}
#feature-firewall .feature-icon:before {
	content: "\f479";
}
#feature-user_management .feature-icon:before {
	content: "\f307";
}
#feature-hack_protect .feature-icon:before {
	content: "\f312";
}
#feature-login_protect .feature-icon:before {
	content: "\f112";
}
#feature-comments_filter .feature-icon:before {
	content: "\f125";
}
#feature-autoupdates .feature-icon:before {
	content: "\f463";
}
#feature-lockdown .feature-icon:before {
	content: "\f160";
}
#feature-audit_trail .feature-icon:before {
	content: "\f115";
}
#feature-ips .feature-icon:before {
	content: "\f230";
}

input[type="email"] {
	height: 28px;
}