.wizard > .content {
	background: #ffffff;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.wizard.vertical > .steps {
	width: 20%; /** from 30 **/
}
.wizard.vertical > .content	{
	width: 75%; /** from 65 **/
}

.wizard > .content > .body {
	height: auto;
	position: relative;
}
.wizard.vertical > .actions {
	margin-bottom: 20px;
}
.wizard h3 {
	margin-bottom: 20px;
}
.wizard p {
	margin-bottom: 20px;
}
.wizard .body ul {
	list-style: square inside none;
	padding-left: 20px;
}

.wizard p.wizard-response {
	padding: 10px 15px;
}