html {
	overflow-y: scroll;
}
body {
	padding-bottom: 200px;
}
body.wait {
	cursor: wait !important;
}
.wizard > .content {
	background: #ffffff;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
.wizard.vertical > .steps {
	width: 20%; /** from 30 **/
}
.wizard.vertical > .content {
	width: 75%; /** from 65 **/
}
.wizard > .content > .body {
	height: auto;
	position: relative;
	padding: 0;
	width: 100%
}
.wizard > .content > .body .slide-header {
	padding: 3% 3% 0 3%;
}
.wizard > .content > .body .slide-header .btn-block {
	margin-bottom: -1px;
}
.wizard > .content > .body .slide-header hr {
	margin: 15px 0;
}
.wizard > .content > .body .slide-body {
	padding: 0 6% 0 6%;
}
.wizard > .content > .body .slide-footer {
	padding: 0 6% 3% 6%;
}
.wizard.vertical > .actions {
	margin-bottom: 20px;
}
.wizard h3 {
	margin-bottom: 20px;
}
.wizard p {
	margin-bottom: 20px;
}
.wizard .body ul {
	list-style: square inside none;
	padding-left: 20px;
}
.wizard p.wizard-response {
	padding: 10px 15px;
}
.wizard .slide-body .media {
	margin-top: 25px
}
.wizard .slide-body .media-object {
	height: 64px;
	width: 64px;
}