<style>
	#DripFreeTrial {
		width: 460px;
		margin: auto;
		border: 1px solid rgba(0, 0, 0, 0.05);
		background-color: rgba(0, 0, 0, 0.01);
		padding: 20px 40px;
	}
	#DripFreeTrial input[type=submit] {
		margin: 20px 0;
	}

</style>

<div id="DripFreeTrial">
<form action="https://www.getdrip.com/forms/222942536/submissions"
	  target="_blank"
	  class="form"
	  method="post" data-drip-embedded-form="222942536" autocomplete="off">
	<h3 data-drip-attribute="headline">Free Trial Registration</h3>

	<p>Activate your free 14-day trial of <strong>Shield</strong>PRO. Zero obligation.</p>

	<div class="row">

		<div class="col-12">
			<label for="drip-first-name" class="form-label">Your First Name</label><br>
			<input type="text" id="drip-first-name" name="fields[first_name]"
				   value="{{ vars.name }}"
				   autocomplete="off"
				   class="form-control"
				   placeholder="Your name" />
		</div>

		<div class="col-12">
			<label for="drip-email" class="form-label">Email Address</label><br>
			<input type="email" id="drip-email" name="fields[email]"
				   value="{{ vars.email }}"
				   autocomplete="off"
				   class="form-control"
				   placeholder="Your email address" />
		</div>

		<div class="col-12">
			<label for="drip-trial-url" class="form-label">Trial URL</label><br>
			<input type="url" id="drip-trial-url"
				   name="fields[trial_url]"
				   value="{{ vars.activation_url }}"
				   autocomplete="off"
				   class="form-control"
				   placeholder="e.g.  https://www.google.com/" />
		</div>

		<div class="col-12">
			<div class="form-check">
				<input type="hidden" name="fields[eu_consent]" id="drip-eu-consent-denied" value="denied">
				<input type="hidden" name="fields[eu_consent_message]"
					   value="I understand and agree to the terms and conditions / privacy policy (https://www.fernleafsystems.com/one-dollar-plugin/)">
				<input type="checkbox" name="fields[eu_consent]"
					   class="form-check-input"
					   id="drip-eu-consent" value="granted">
				<label for="drip-eu-consent"
					   class="form-check-label">I understand and agree to the <a
							target="_blank"
							href="https://www.fernleafsystems.com/one-dollar-plugin/">terms and conditions / privacy policy</a></label>
			</div>
			<input type="submit"
				   class="btn btn-primary"
				   value="Get The Free Trial"
				   data-drip-attribute="sign-up-button">
		</div>
	</div>
</form>
</div>
