{% extends 'wizard/slides/common/base_finish.twig' %}

{% block slide_body_top %}
	{{ slideMacros.slideTitle( 'Finished: Plugin & Theme Guard' ) }}

	<p>This is the end of Shield Security's Plugin & Theme Guard Scanner Wizard.</p>
{% endblock %}