{% extends '/wpadmin_pages/insights/base.twig' %}

{% block page_main %}
	<div class="row">
		<div class="col">
			<div class="alert alert-info">
				Please note that the Audit Trail has been completely rewritten from scratch and
				while we've made every attempt to covert old data to the new format, it wasn't fully
				possible. Some older events may be unavailable or some meta data from older events
				may be missing.
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			{{ content.table_audit|raw }}
		</div>
	</div>
{% endblock %}