$mode-actions: $danger;
$mode-actions-light: #fdeaec;
$mode-actions-border: #f5c6cb;

$mode-investigate: $info;
$mode-investigate-light: #e0f4f8;
$mode-investigate-border: #b6e3ed;

$mode-configure: #6c4bb3;
$mode-configure-light: #efe8fb;
$mode-configure-border: #d8cdef;

$mode-reports: #c84d82;
$mode-reports-text: #b64075;
$mode-reports-light: #fce8f1;
$mode-reports-border: #efc1d3;
