.shield-2fa-wplogin input[type="text"][name="shield_yubi_otp"] {
  width: 100%;
}

input[type="text"][name="icwp_wpsf_email_otp"],
input[type="text"][name="icwp_wpsf_ga_otp"] {
  font-family: monospace;
  text-align: center;
  letter-spacing: 10px;
  font-size: 18px;
  font-weight: bolder;
}

.otp-description {
  display: block;
  margin: 3px 0 10px;
  font-size: 12px;
}

.shield_2fa_field_container input {
  margin-bottom: 0 !important;
}

form p.shield_2fa_field_container {
  margin-bottom: 24px !important;
}
.shield_2fa_field_container > label {
  width: 100%;
}

.shield_2fa_field_container > label > span {
  display: block;
  width: 100%;
}

.shield_2fa_field_container.shield_passkey_container {
}
.shield_2fa_field_container.shield_passkey_container > label > span {
  display: none;
}