@import './shield/dashboard-widget';
@import './shield/toastify';
@import './shield/micromodal';
@import './components/notices';

.plugin_update_message {
  color: #dd3333;
  font-weight: bolder;
}

ul.nav-tabs li a {
  color: #008000;
}

ul.nav-tabs li.active a {
  color: #000000;
}

body.plugins-php .wrap > ul li.vulnerable a {
  color: darkred;
}

tr.shield-plugin-vulnerability > td {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fff4f4+0,f7e3e3+100 */
  background: #fff4f4; /* Old browsers */
  background: -moz-linear-gradient(top, #fff4f4 0%, #f7e3e3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fff4f4 0%, #f7e3e3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fff4f4 0%, #f7e3e3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff4f4', endColorstr='#f7e3e3', GradientType=0); /* IE6-9 */
  padding: 12px 40px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
}

tr.shield-plugin-vulnerability > td table {
  width: 100%;
}

tr.shield-plugin-vulnerability > td table th {
  color: #444444;
  font-weight: bolder;
}

tr.shield-plugin-vulnerability a {
  font-weight: bold;
  text-decoration: underline;
}

tr.shield-plugin-vulnerability dl {
  margin: 12px 0;
}

tr.shield-plugin-vulnerability dd {
  margin-bottom: 3px;
}

.restricted-option {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid;
  border-radius: 3px;
  clear: both;
  color: rgba(195, 71, 76, 0.9);
  display: inline-block;
  line-height: 22px;
  margin: 2px 0 4px;
  padding: 7px 8px 5px 6px;
}

.shield-user-options-block {
}

.shield-user-options-block table {
  margin-left: 1em;
}

.shield-user-options-block #shield_ga_secret {
  letter-spacing: 5px;
  font-family: monospace;
  font-size: 24px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 7px;
  background-color: whitesmoke;
}

.wp-submenu-wrap a .shield_highlighted_menu {
  color: #00ff00;
}

.icwp-toaster {
  position: fixed;
  top: 100px;
  right: 60px;
  z-index: -1;
}

.icwp-toaster .toast-body {
  white-space: nowrap;
}

.icwp-toaster.toast {
  max-width: none;
}

#wpadminbar .shield-counter {
  display: inline;
  padding: 1px 7px 1px 6px !important;
  border-radius: 50%;
  margin-left: 6px;
  /*background-color: rgb(0, 128, 0);*/
}

#wp-admin-bar-icwp-wpsf-adminbarmenu .ab-submenu > li {
  padding: 0 0 5px;
}

/* override boostrap */
/** Menu Separators */
#toplevel_page_icwp-wpsf-plugin li {
  clear: both;
}

#toplevel_page_icwp-wpsf-plugin li:not(:last-child) a[href^="admin.php?page=icwp-wpsf-dashboard"]:after,
#toplevel_page_icwp-wpsf-plugin li:not(:last-child) a[href^="admin.php?page=icwp-wpsf-reports"]:after,
#toplevel_page_icwp-wpsf-plugin li:not(:last-child) a[href^="admin.php?page=icwp-wpsf-traffic"]:after,
#toplevel_page_icwp-wpsf-plugin li:not(:last-child) a[href^="admin.php?page=icwp-wpsf-config"]:after {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: block;
  float: left;
  margin: 10px 0 4px;
  content: "";
  width: calc(100%);
}