#ShieldUserProfileMFA {
	margin-top: 1em;
}
#ShieldUserProfileMFA th {
	text-align: left;
	vertical-align: top;
	padding: 20px 10px 20px 0;
	width: 200px;
	line-height: 1.3;
	font-weight: 600;
}
#ShieldUserProfileMFA td {
	vertical-align: top;
  padding: 20px 0;
}