{% extends '/wpadmin_pages/insights_new/base.twig' %}

{% block page_main %}
	<div class="row">
		<div class="col-12 insights_section">
			{% include '/wpadmin_pages/insights_new/audit/audit_table.twig' %}
		</div>
	</div>
{% endblock %}