{% extends '/components/wplogin_replica/login_field.twig' %}

{% block after_login_field_input %}
	{{ parent() }}
	[ <button type="button" id="ajax_intent_email_send" class="shield-button-link" title="">{{ field.supp.send_email }}</button> ]
{% endblock %}
