{% block input_row %}
	<p class="shield_2fa_field_container">

		{% block before_login_field_input %}{% endblock %}

		<label>
			{{ field.text }}
			{% include '/components/html/input.twig' %}
		</label>

		<span class="otp-description">
		{% block after_login_field_input %}
				{{ field.description|default('') }}
		{% endblock %}
		</span>

	</p>
{% endblock %}