<div class="configure-editor"
	 data-configure-editor="1"
	 data-configure-zone="{{ zone.key }}">
	{% include '/wpadmin/components/configure/zone_editor_body.twig' with {
		zone: zone,
		editor: editor
	} only %}
</div>
