<div class="configure-editor__body"
	 id="{{ editor.container_id }}">
	{% for group in zone.panel.detail_groups %}
		{% set group_index = loop.index0 %}
		{% for row in group.rows %}
			{% set expand_id = editor.container_id ~ '-expand-' ~ group_index ~ '-' ~ loop.index0 %}
			{% set action_data = row.action.data %}
			{% set is_expandable = action_data.zone_component_slug is not empty and action_data.zone_component_action is not empty %}

			{% include '/wpadmin/components/configure/detail_item.twig' with { item: {
				row: {
					title: row.title,
					description: row.summary,
					status: row.status,
					status_icon: row.status_icon_class,
					status_label: row.status_label,
					count_badge: row.count_badge,
					badge_status: row.badge_status,
					explanations: row.explanations
				},
				expand: {
					id: expand_id,
					parent_id: editor.container_id,
					is_expandable: is_expandable,
					label: row.action.label|default(''),
					title: row.action.title|default(''),
					data_attributes: action_data
				}
			} } only %}
		{% endfor %}
	{% endfor %}

	{% if not (hide_settings_cta ?? false) %}
		{% include '/wpadmin/components/configure/zone_settings_cta.twig' with {
			zone: zone
		} only %}
	{% endif %}
</div>
