<div class="configure-editor__body"
	 id="{{ editor.container_id }}">
	{% for group in zone.panel.detail_groups %}
		{% set group_index = loop.index0 %}
		{% for row in group.rows %}
			{% set expand_id = editor.container_id ~ '-expand-' ~ group_index ~ '-' ~ loop.index0 %}

			{% include '/wpadmin/components/configure/detail_item.twig' with { item: {
				row: {
					title: row.title,
					description: row.summary,
					status: row.status,
					status_icon: row.status_icon_class,
					status_label: row.status_label,
					count_badge: row.count_badge,
					badge_status: row.badge_status,
					explanations: row.explanations,
					attributes: {}
				},
				expand: {
					id: expand_id,
					parent_id: editor.container_id,
					is_expandable: row.is_expandable,
					label: row.action.label,
					title: row.action.title,
					data_attributes: row.action.data
				}
			} } only %}
		{% endfor %}
	{% endfor %}

	{% if not (hide_settings_cta ?? false) %}
		{% include '/wpadmin/components/configure/zone_settings_cta.twig' with {
			zone: zone
		} only %}
	{% endif %}
</div>
