<div class="auth_factor">

	<div class="auth_provider_name">
		{% block provider_name %}
			<h5>{{ strings.provider_name }}</h5>
		{% endblock %}
	</div>

	<div class="auth_provider_settings">
		{% block provider_settings %}
		{% endblock %}
	</div>

</div>