{% extends 'pages/base.twig' %}

{% block body_footer %}
	{% if not flags.is_premium %}
		<div id="FooterWizardBanner" class="container-fluid">
			<div id="WizardBanner" class="row">
				<div class="col-lg-5 offset-lg-3 col-md-5 offset-md-3 col-sm-8 col-8">
					<p>Support future development and get exclusive {{ strings.plugin_name }} features:
					   <br />Vulnerability Scanner; Options Import; Email Support+more.</p>
				</div>
				<div class="col-lg-1 col-md-2 col-sm-2 col-4">
					<a href="{{ hrefs.goprofooter }}" target="_blank" class="btn btn-success">Go Pro Today &rarr;</a>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}