<div class="ui green inverted center aligned padded segment" style="margin-bottom: 0;">
	<div class="ui one column grid">
		<div class="row">
			<div class="column">
				{{ strings.not_pro }}
				<br />
				<a href="{{ hrefs.go_pro }}"
				   target="_blank"
				   style="color: white;text-decoration: underline">{{ strings.go_pro }}</a>
			</div>
		</div>
	</div>
</div>