<div class="ui orange inverted center aligned padded segment" style="margin-bottom: 0;">
	<div class="ui one column grid">
		<div class="row">
			<div class="column">
				{{ strings.update }}
				<br/><a href="{{ hrefs.update }}"
				style="color: white;text-decoration: underline">{{ strings.go_here }}</a>
			</div>
		</div>
	</div>
</div>