{% extends '/integration/mainwp/pages/page_base.twig' %}

{% block body_main %}
	<div class="row">
		<div class="col">
			<iframe id="PageTabContent" src="{{ hrefs.page }}" width="100%" height="1000px"></iframe>
		</div>
	</div>
{% endblock %}

{% block body_footer %}
{% endblock %}