{% extends 'wizard/slides/common/base.twig' %}

{% block slide_header_next %}{% endblock %}
{% block slide_footer %}
	<hr />
	<a href="{{ hrefs.dashboard }}" class="btn btn-default">&#x21d0; Return To The Shield WordPress Dashboard</a>
{% endblock %}