{% extends 'wizard/slides/common/base.twig' %}

{% block slide_header_nav %}{% endblock %}

{% block slide_body %}
	{{ slideMacros.slideTitle( "Sorry, you don't have access" ) }}

	<p>To run this wizard you need to have certain privileges that are not met by your current account level.</p>
	<p>If this doesn't seem right, please contact your site administrator.</p>

	<a href="{{ hrefs.dashboard }}" class="btn btn-outline-secondary">Go Back To {{ strings.plugin_name }} Dashboard</a>

{% endblock %}

{% block slide_footer %}{% endblock %}