{% extends '/wpadmin_pages/insights/plugin_admin/base_inner_page.twig' %}

{% block inner_page_body %}
	<div class="row" id="ModulePageTopRow">
		<div class="col" id="ColumnOptions">
			<div class="content-options"> {{ strings.loading }} ... </div>
		</div>
	</div>
{% endblock %}