{% extends '/wpadmin_pages/insights/plugin_admin/base_inner_page.twig' %}

{% block inner_page_title_after %}
	<a href="{{ hrefs.inner_page_toggle }}"
	   class="d-inline-block ms-3 fs-6 text-primary fw-normal">{{ strings.inner_page_toggle }} &rarr;</a>
{% endblock %}