{% extends '/wpadmin_pages/insights/base.twig' %}

{% block page_main %}
	<div class="row">
		<div class="col insights_section" id="TabOverviewCards">
			{% include '/wpadmin_pages/insights/overview/progress_meter/progress_meters.twig' %}
		</div>
	</div>
	<div class="row">
		<div class="col insights_section" id="TabOverviewCards">
			{% include '/wpadmin_pages/insights/overview/cards/shuffle.twig' %}
		</div>
	</div>
{% endblock %}