{% extends '/wpadmin_pages/insights/base.twig' %}

{% block page_main %}
	<div class="row">
		<div class="col-12 insights_section" id="SectionStats">
			{% include '/wpadmin_pages/insights/overview/stats.twig' %}
		</div>
	</div>
	<div class="row">
		<div class="col-12 insights_section" id="SectionOverviewCards">
			{% include '/wpadmin_pages/insights/overview/cards/shuffle.twig' %}
		</div>
	</div>
	<div class="row">
		{% if flags.show_guided_tour %}
			<a style="display: none;" class="btn btn-default"
			   id="IntroVideo"
			   href="https://player.vimeo.com/video/326357543"
			   data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true"
			   data-featherlight-iframe-width="1200"
			   data-featherlight-iframe-height="675">&nbsp;</a>
		{% endif %}
	</div>
{% endblock %}

{% block inline_styles %}
	<style>
		.ct-series-a .ct-line {
			/* Set the colour of this series line */
			stroke: green;
			/* Control the thikness of your lines */
			stroke-width: 2px;
			/* Create a dashed line with a pattern */
			stroke-dasharray: 3px 1px;
		}

		/* This selector overrides the points style on line charts. Points on line charts are actually just very short strokes. This allows you to customize even the point size in CSS */
		.ct-series-a .ct-point {
			/* Colour of your points */
			stroke: green;
			/* Size of your points */
			stroke-width: 4px;
			/* Make your points appear as squares */
			stroke-linecap: square;
		}
	</style>
{% endblock %}

{% block inline_scripts %}
	<script type="text/javascript">
		jQuery( document ).ready( function () {

			{% for stat in vars.insight_stats %}
			jQuery( '#statcard-{{ stat.id }} .card-body .stat-chart' ).icwpWpsfAjaxChart(
				{
					'ajax_render':{{ ajax.render_chart_post|raw }},
					'req_params': {
						'render_location': "insights-overview-statcard",
						'chart_params': {
							'stat_id': "{{ stat.id }}",
						}
					}
				}
			);
			{% endfor %}

			{% if flags.tours.insights_overview %}
			var bIsExited = false;
			introJs().setOptions( {
				tooltipClass: "shield_tour_tooltip",
				steps: [
					{
						intro: "We'd like to show you around! Click Next to continue, or Skip."
					},
					{
						element: '#NavItem-settings > a',
						intro: "Your jumping-off point to configure settings for every security feature.",
						position: 'bottom'
					},
					{
						element: '#NavItem-scans > a',
						intro: 'Run site scans on-demand and take action on your results.',
						position: 'bottom'
					},
					{
						element: '#NavItem-ips > a',
						intro: 'View and manage your IP Black and White lists.',
						position: 'bottom'
					},
					{
						element: '#NavItem-audit > a',
						intro: 'Review events that Shield has captured, monitored, or blocked.',
						position: 'bottom'
					},
					{
						element: '#NavItem-OptionSearch',
						intro: 'Search entire plugin to jump to a setting that you want quickly.',
						position: 'bottom'
					},
					{
						element: "#SectionStats",
						intro: "Overview stats for the past 7 days.",
						position: 'bottom'
					},
					{
						element: "#SectionNotices",
						intro: "Highlighted action items to improve site security.",
						position: 'top'
					},
					{
						element: "#SectionRecentEvents",
						intro: 'Shows you the most recent occurrence for certain significant events.',
						position: 'top'
					}
				],
			} )
					 .onexit( function () {
						 if ( !bIsExited ) {
							 iCWP_WPSF_MarkTourFinished.finishedTour( 'insights_overview' );
							 bIsExited = true;
						 }
					 } )
					 .start();
			{% endif %}
		} );
	</script>
	<script type="text/javascript">
		jQuery( '#collapseConfigSummary' ).on( 'shown.bs.collapse', function () {
			jQuery( 'html, body' ).animate( {
				scrollTop: jQuery( "#collapseConfigSummaryTitle" ).offset().top - 115
			}, 750 );
		} );
		{% if flags.show_guided_tour %}
		window.onload = function () {
			jQuery( '#IntroVideo' ).click();
		};
		{% endif %}
	</script>
{% endblock %}