{% extends '/components/login_intent/login_field.twig' %}

{% block after_login_field_input %}
	{{ parent() }}
	[ <a href="javascript:{}" id="ajax_intent_email_send" title="">{{ field.supp.send_email }}</a> ]
{% endblock %}