<div class="offcanvas-header">
  <h5 class="offcanvas-title" id="AptoOffcanvasLabel">{{ content.canvas_title }}</h5>
	<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="{{ strings.close|e('html_attr') }}"></button>
</div>
<div class="offcanvas-body">{{ content.canvas_body|raw }}</div>
