<div class="offcanvas offcanvas-end"
     id="AptoOffcanvas"
     data-bs-scroll="false" data-bs-backdrop="true"
     tabindex="-1"
     aria-labelledby="AptoOffcanvas"
     style="z-index: 100000">
	{% include '/components/html/offcanvas_content.twig' %}
</div>