<div class="offcanvas offcanvas-end "
     id="ShieldOffcanvas"
     data-bs-scroll="false" data-bs-backdrop="true"
     tabindex="-1"
     aria-labelledby="ShieldOffcanvas"
     style="z-index: 100000">
	{% include '/components/html/offcanvas_content.twig' %}
</div>