<div class="offcanvas-header">
  <h5 class="offcanvas-title">{{ content.canvas_title|default('')|raw }}</h5>
	{% if flags.show_close|default(true) %}
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	{% endif %}
</div>
<div class="offcanvas-body">{{ content.canvas_body|default('')|raw }}</div>