<div class="d-flex justify-content-center align-items-center d-none" id="ShieldWaitSpinner">
	<div class="spinner-border text-success m-5" role="status">
		<span class="visually-hidden">Loading...</span>
	</div>
</div>