<div class="wizard-slide">
	{% block slide_header %} {% endblock %}
	{% block slide_body %} {% endblock %}
	{% block slide_footer %}
		<hr />
		{% block slide_footer_previous %}
			<button class="btn btn-default ButtonPreviousSlide">&larr; Previous Step </button>
		{% endblock %}
		{% block slide_footer_next %}
			<button class="btn btn-default ButtonNextSlide">Next Step &rarr;</button>
		{% endblock %}
	{% endblock %}
</div>