<div class="wizard-slide">
	{% block slide_header %} {% endblock %}
	{% block slide_body %} {% endblock %}
	{% block slide_footer %}
		<a href="" class="btn btn-default ButtonNextSlide">Next Step</a>
	{% endblock %}
</div>