<div class="wizard-slide">
	<div class="slide-header">
	{% block slide_header %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
				{% block slide_footer_previous %}
					<button class="btn btn-default btn-block ButtonPreviousSlide">&larr; Previous Step </button>
				{% endblock %}
				</div>
				<div class="col-md-6">
				{% block slide_footer_next %}
					<button class="btn btn-default btn-block ButtonNextSlide">Next Step &rarr;</button>
				{% endblock %}
				</div>
			</div>
		</div>
		<hr />
	{% endblock %}
	</div>
	<div class="slide-body">
	{% block slide_body %} {% endblock %}
	</div>
	<div class="slide-footer">
	{% block slide_footer %}
		<hr />
		<p>Click 'Next Step' at the top to skip/continue at any time.</p>
	{% endblock %}
	</div>
</div>