<div class="wizard-slide">
	{% block slide_header %} {% endblock %}
	{% block slide_body %} {% endblock %}
	{% block slide_footer %}
		<hr />
		<button href="" class="btn btn-default ButtonNextSlide">Next Step</button>
	{% endblock %}
</div>