{% extends 'wizard/base.twig' %}

{% block slide_body %}

<h3>Comment SPAM</h3>
<p>99%+ of comments spam is by automated bots. You get some human SPAM too, of course.</p>
<p>Shield Security offers a couple of highly effective (read: 100%) techniques to block bot spam, using a
   simple technique. Also, and unlike Akismet, we never send your private comment data to 3rd parties for
   processing. We keep it all in-house - i.e. it stays on your own website.
</p>
<p>We also offer Google reCAPTCHA for comments, but you'll need to setup some API keys for this first, so we'll
   leave you to do that later.</p>
<p>And, for those SPAM comments posted by real humans, we have an option in there too. But again, to get
   you going, we'll leave you to set that up later on if you wish.</p>
<p>For now, if you want to block comment SPAM, enable it below.</p>

<h4>Turn On/Off Comment SPAM Protection Feature</h4>
<form class="form-horizontal icwp-wizard-form">
	<input name="wizard-step" value="comments_filter" type="hidden" />
	<div class="form-group">
		<label class="col-md-4 control-label" for="CommentsFilterOption">Comment SPAM Filter:</label>
		<div class="col-md-8">
			<div class="radio">
				<label>
					<input type="radio" name="CommentsFilterOption" id="AuditTrailOn" value="Y" checked>
					Turn On - Block comments SPAM by bots
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="CommentsFilterOption" id="AuditTrailOff" value="N">
					Turn Off - Do not block comments SPAM by bots
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-4 col-md-8">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</div>
</form>

{% endblock %}