{% extends 'wizard/base_finish.twig' %}

{% block slide_body %}
	<h3>Finished: Multi-Factor Authentication Setup</h3>
	<p>This is the end of the Shield Security Multi-Factor Authentication Setup Wizard.
	   Click the link below to return to the main WordPress dashboard.</p>
{% endblock %}