{% extends 'wizard/base.twig' %}

{% block slide_body %}

	<h3>Thank You!</h3>
	<p>You've done it! This is the just scratching the surface of Shield Security and the options you have available.</p>
	<p>We hope you'll take the time and dig through some of the settings to further refine the security of
   your site. These things take time, but learning it will really help you get the most out of it.</p>
	<p>Thank you for choosing Shield Security! :D</p>

	<a href="{{ hrefs.dashboard }}" class="btn btn-default">Return To The Shield WordPress Dashboard</a>

{% endblock %}
{% block slide_header_next %}{% endblock %}

{% block slide_footer %}{% endblock %}