{% extends 'wizard/base.twig' %}

{% block slide_body %}
	<h3>Import Options From Another Site</h3>

	{% if flags.is_premium %}
		<p>To setup this site quickly you may import the options directly from another site.</p>
		<p>You will need the WordPress homepage URL, and the Shield Secret Key from the <em>Source</em> WordPress site.
	   This key renews itself every hour so you may need to recheck its current value before proceeding.</p>

		<h4>Import Options</h4>
		<p><strong>Warning</strong>: If successful, most options on this site will be overwritten by those from the source.</p>
		<form class="form-horizontal icwp-wizard-form">
			<input name="wizard-step" value="importoptions" type="hidden" />
			<div class="form-group">
				<label class="col-md-4 control-label" for="SourceSiteUrl">Source Site URL</label>
				<div class="col-md-8">
					<input type="url" class="form-control"
						   name="SourceSiteUrl" id="SourceSiteUrl" placeholder="http://www....">
					<span id="helpBlock"
						  class="help-block">Remember to include <code>http://</code> or <code>https://</code>.</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label" for="SourceSiteSecretKey">Source Site Secret Key</label>
				<div class="col-md-8">
					<input type="text" class="form-control" maxlength="40" minlength="40"
						   name="SourceSiteSecretKey" id="SourceSiteSecretKey" placeholder="Secret Key">
					<span id="helpBlock" class="help-block">The secret key can be found under<br />
															Shield Security > Dashboard > Import/Export > Secret Key</span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-4 col-md-8">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
	{% else %}
		<p>With Shield Pro you have the options to quickly import option directly from any remote site also
		   running Shield Pro.</p>
		<p>Not only that, you can setup Shield to automatically (each day) import options from any site. This means
		   you can now create a "Master" options site, where you need update only 1 site, and all your other
		   Shield sites will align themselves to it.</p>
		<p>This goes far beyond normal import/export features and you basically create an adaptive security network
		with no extra work on your part.</p>
		<p>And this is just the beginning of what you'll be able to achieve with your Shield network.</p>
		<p>For now though, if you're not a Pro subscriber, you can just skip this
		part and setup the plugin manually as normal.</p>
	{% endif %}

{% endblock %}