{% extends 'wizard/base.twig' %}

{% block slide_body %}

	<h3>Setup Google Authenticator</h3>
	<p>Google Authenticator is a popular choice for 2FA. It has 1 drawback, however - if you'll lose
	   your phone or reset it, you lose all your 2FA login codes.</p>
	<p>There is a solution to this and we <strong>strongly recommend</strong> that you do it: .</p>
	<p>Once you're ready to proceed with Google Authenticator, please scan the barcode below, and enter
	   code to confirm.</p>
	<p>Note: Turning on Google Authenticator for your user account will make the option available
	   to turn it on for all users on the site.</p>

	<h4>Register Google Authenticator On Your Account</h4>
	<p>Scan the barcode below and enter the 6-digit code to register.</p>
	<form class="form-horizontal icwp-wizard-form" id>
		<input name="wizard-step" value="authga" type="hidden" />

		<div class="form-group">
			<label class="col-md-4 control-label" for="email">Scan your unique code</label>
			<div class="col-md-8">
				<img src="{{ hrefs.ga_chart }}" />
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-4 control-label" for="code">Authenticator Code</label>
			<div class="col-md-8">
				<input type="text" class="form-control" name="code"
					   maxlength="6" minlength="6" placeholder="" value="">
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-4 col-md-8">
				<button type="submit" class="btn btn-primary">Register Google Authenticator</button>
			</div>
		</div>
	</form>
{% endblock %}