{% extends 'wizard/base.twig' %}

{% block slide_body %}

<h3>Welcome To Shield Security</h3>
<p>In this quick little walk-through wizard, we'll take you through some of the basics to help you get up and running
   smoothly, and quickly.
</p>
<p>Shield Security does a lot of things, and has a lot of options. Since we don't want to overwhelm you all at once, we'll
   walk you through the main features first to give you a feel for how Shield will protect your site.
</p>
<p>Don't worry, you'll be on your way very soon, with a much more secure WordPress site.</p>
<p>Right, let's get you started! :D</p>

{% endblock %}
{% block slide_footer_previous %}{% endblock %}