{% if flags.has_notes %}
	<table class="table table-hover table-responsive-sm mb-0">
		<thead><tr>
			<th>Note</th>
			<th>User</th>
			<th>Date</th>
			<th>&nbsp;</th>
		</tr></thead>
		{% for note in vars.insight_notes %}
			<tr class="message_row">
				<td>{{ note.note }}</td>
				<td>{{ note.wp_username }}</td>
				<td>{{ note.created_at }}</td>
				<td class="cell_delete_note">
					<button class="btn btn-sm btn-outline-danger note_delete"
							data-note_id="{{ note.id }}"
							data-title="Immediately Delete Note">x</button>
				</td>
			</tr>
		{% endfor %}
	</table>
{% else %}
	<div class="alert alert-info">There are no admin notes.</div>
{% endif %}

