{% extends 'wizard/slides/common/base_finish.twig' %}

{% block slide_body_top %}
	{{ slideMacros.slideTitle( 'Finished: Shield Options Import Wizard' ) }}
	<p>This is the end of the Shield Security Network/Import Wizard.</p>
{% endblock %}