{% extends 'wizard/slides/common/base_finish.twig' %}

{% block slide_body_top %}
	<h3>Finished: Shield Options Import Wizard</h3>
	<p>This is the end of the Shield Security Network/Import Wizard.</p>
{% endblock %}