// Chart.js styles for Shield Security
.shield-chart {
  position: relative;
  width: 100%;
  min-height: 140px;
  --shield-chart-line-color: #{$primary};
  --shield-chart-point-color: #{$primary};
}

.stat.card .shield-chart {
  min-height: 120px;
}
