@import "~toastify-js/src/toastify.css";
/** https://apvarun.github.io/toastify-js/ */

.apto-toastify {
  font-size: 1.2rem;
  padding: 20px 30px;
}
.apto-toastify.toastify-success {
  background: linear-gradient(to right, rgb(0 128 0), rgb(61 160 83));
}
.apto-toastify.toastify-failure {
  background: linear-gradient(to right, rgb(128 70 0), rgb(160 115 61));
}