.component-enabled-state > svg {
  width: 48px;
  height: 48px;
}
.title-image-container > svg {
  width: 100%;
  height: auto;
}

.security_zone_component .zone_component_action {
  border: 1px solid transparent;
  border-radius: 10px;
}
.security_zone_component:hover .zone_component_action {
  background-color: rgba(0, 128, 0, 0.1);
}
.security_zone_component .zone_component_action > svg {
  height: 24px;
  width: 24px;
  transform: rotate(0deg);
  transition: transform 0.5s;
}
.security_zone_component:hover .zone_component_action > svg {
  transform: rotate(45deg);
  transition: transform 0.3s;
}