{% extends '/wpadmin_pages/base.twig' %}

{% block h1heading %}<h1 style="display: none;">&nbsp;</h1>{% endblock %}

{% block page_head %}
	<div class="row">

		<div class="col">
			<h5 class="mt-3" id="PageTitle">
				{% block page_head_titlemenu %}
					{% if flags.is_dashboard %}
						{{ strings.dashboard_shield }}
					{% else %}
						{{ strings.page_title }}
					{% endif %}
				{% endblock page_head_titlemenu %}
			</h5>
		</div>

		<div class="col">
			<a class="navbar-brand float-right mt-3"
			   href="{{ hrefs.nav_home }}"
			   id="navbar-bannerlogo"
			   style="background-image: url('{{ hrefs.img_banner }}');"
			>&nbsp;</a>
		</div>
	</div>

	<script async src="https://cdn.announcekit.app/widget.js"></script>
	{% include '/snippets/js/freshdesk_chatbot.twig' %}
{% endblock %}

{% block page_main %}
	<div class="row">
		<div class="col">
		</div>
	</div>
{% endblock %}

{% block page_foot %}
{% endblock %}

{% block inline_styles %}
{% endblock %}