{% extends '/wpadmin_pages/base.twig' %}

{% block h1heading %}<h1 style="display: none;">&nbsp;</h1>{% endblock %}

{% block page_head %}
	<div class="row row-cols-2 justify-content-between mb-3" id="apto-PageHeader">
		<div class="col d-flex align-items-center">
			<h5 class="my-0 ms-3" id="PageTitle">
				{% block page_head_titlemenu %}
					{{ strings.page_title }}
				{% endblock page_head_titlemenu %}
			</h5>
		</div>
		<div class="col d-flex justify-content-end">
			<img class="navbar-brand me-3"
			     src="{{ hrefs.img_banner }}"
			     id="navbar-bannerlogo"
			     style=""
			>
		</div>
	</div>

	<script async src="https://cdn.announcekit.app/widget.js"></script>
{% endblock %}

{% block page_main %}
{% endblock %}

{% block page_foot %}
{% endblock %}

{% block inline_styles %}
{% endblock %}