<div id="SectionRecentlyCaptured" class="insights_widget">
	<h4>Most Recent Shield Activity</h4>
	<div class="overflow_container">
		{% for insight_stat in vars.insight_stats %}
			<dl class="row">
				<dt class="col-6">{{ insight_stat.name }}:</dt>
				<dd class="col-6">{{ insight_stat.val }}</dd>
			</dl>
		{% endfor %}
	</div>
</div>