<div id="SectionNotices" class="insights_widget card w-100">
	<div class="card-header">
		<h5 class="card-title">Security Notices</h5>
		<h6 class="card-subtitle mb-2 text-muted">Potential security issues on your site <em>now</em></h6>
	</div>
	<div class="card-body overflow_container">
		<div class="overflow_inner">
			<table class="table table-borderless table-sm mb-0">
			{% for notice_section in vars.insight_notices %}
				{% if notice_section.count > 0 %}
					<tr>
						<th><h6 class="m-1">{{ notice_section.title }}</h6></th>
					</tr>

					<tr>
						<td>
						{% for notice in notice_section.messages %}
							<dl class="row">
								<dt class="col-3 offset-1">{{ notice.title }}:</dt>
								<dd class="col-8">{{ notice.message }}
									{% if notice.href is not empty %}
										(<a href="{{ notice.href }}" target="_blank">more info</a>)
									{% endif %}
								</dd>
							</dl>
						{% endfor %}
						</td>
					</tr>
				{% endif %}
			{% endfor %}
			</table>
		</div>
		{#<a href="#" class="card-link">Card link</a>#}
		{#<a href="#" class="card-link">Another link</a>#}
	</div>
</div>