<div id="SectionNotices" class="insights_widget card w-100">
	<div class="card-header">
		Shield Notices
	</div>
	<div class="card-body overflow_container">
		<div class="overflow_inner">
			{% for notice_section in vars.insight_notices %}
				{% if notice_section.count > 0 %}
					<h6>{{ notice_section.title }}</h6>
					{% for notice in notice_section.messages %}
						<dl class="row">
							<dt class="col-3 offset-1">{{ notice.title }}:</dt>
							<dd class="col-8">{{ notice.message }}
								{% if notice.href is not empty %}
									(<a href="{{ notice.href }}" target="_blank">more info</a>)
								{% endif %}
							</dd>
						</dl>
					{% endfor %}
				{% endif %}
			{% endfor %}
		</div>
		{#<a href="#" class="card-link">Card link</a>#}
		{#<a href="#" class="card-link">Another link</a>#}
	</div>
</div>