<div id="SectionNotices" class="insights_widget">
	<h4>Shield Notices</h4>
	<div class="overflow_container">
		{% for insight_notice in vars.insight_notices %}
			<dl class="row">
				<dt class="col">{{ insight_notice }}:</dt>
			</dl>
		{% endfor %}
	</div>
</div>