<div id="SectionTitle" class="insights_widget card w-100">
	<div class="card-header">
		<h5 class="card-title mb-0">{{ strings.box_welcome_title }}</h5>
	</div>
	<div class="card-body overflow_container">
		<div class="overflow_inner">
			<p>This <span class="font-weight-bold">Insights Dashboard</span> is new with v6.7.0
				<br />It's a 1st version, designed
			   to provide a high-level summary of your WordPress site security, and Shield activity.</p>
			<p>If you have suggestions or feedback, please let us know
			   <a href="https://icwp.io/shieldsecuritygroupfb" target="_blank">
				   in our <span class="badge badge-info">new</span> Facebook group</a>.</p>
			{% if flags.is_pro %}
				<p>Thank you for your support with your Shield Pro purchase. :)</p>
			{% else %}
				<p>For just $1/month, get all the extra features and 1-on-1 technical support -
				<a href="https://icwp.io/cw" class="btn btn-outline-success">Go Pro Today!</a></p>
			{% endif %}
		</div>
		{#<a href="#" class="card-link">Card link</a>#}
		{#<a href="#" class="card-link">Another link</a>#}
	</div>
</div>