
<div id="SectionTitle" class="insights_widget card w-100">
	<div class="card-header">
		Shield Security Heads Up Display (HUD)
	</div>
	<div class="card-body overflow_container">
		<div class="overflow_inner">
		<p>This section is NEW. It's simple, without frills and is built to provide a useful
		   way to see your WordPress site security, and Shield activity, in summary form.
		</p>
		</div>
		{#<a href="#" class="card-link">Card link</a>#}
		{#<a href="#" class="card-link">Another link</a>#}
	</div>
</div>