<div id="WpsfAdminAccessLogin" style="display:none;">
	<div class="wpsf-admin-access-login" id="SecAdminDialog">
		<div class="input-holder" id="SecAdminPinInputContainer">
			<label>
				{{ strings.access_message }}
				<input id="SecAdminPinInput" type="password" name="sec_admin_key" />
				<a href="#" class="button" style="margin-top:3px;">Go!</a>
			</label>
		</div>

	</div>
</div>

<style>
	.input-holder label {
		font-size: 24px;
	}
	.input-holder label {
		font-size: inherit;
		display: block;
		margin: 6% 107px;
		vertical-align: middle;
	}
	.input-holder input {
		font-size: inherit;
		height: 60px;
		vertical-align: middle;
		width: 180px;
	}
</style>