<div id="ShieldSecAdminDialog" class="shield_dialog"
	 style="display: none"
	 aria-hidden="true"
	 aria-labelledby="my-dialog-title"
	 aria-describedby="my-dialog-description">
      <div class="dialog-content" role="document"></div>
</div>