<tr>
	<th><label for="shield_enable_mfaemail"
	   {% if flags.is_enforced %}style="pointer-events: none;"{% endif %}
		>{{ strings.label_email_authentication }}</label></th>
	<td>
		<input type="checkbox" name="shield_enable_mfaemail" id="shield_enable_mfaemail" value="Y"
			   {% if flags.is_profile_active %}checked="checked"{% endif %}
				{% if flags.is_enforced %}style="opacity:0.5;pointer-events: none;"{% endif %}
		/>
		<p class="description">{{ strings.description_email_authentication_checkbox }}</p>
		{% if flags.is_enforced %}
			<p class="description">{{ strings.is_enforced }}</p>
		{% endif %}
	</td>
</tr>