{% if (flags.is_my_user_profile or flags.i_am_valid_admin) %}
	<tr>
		<th><label for="icwp_reg_new_key">{{ strings.title }}</label></th>
		<td id="icwp_u2f_section">
			<p>
				<input type="hidden" name="icwp_new_u2f_response" id="icwp_new_u2f_response" />
				<button type="button" class="button button-secondary" id="icwp_reg_new_key" disabled="disabled">
					{{ strings.button_reg_key }}
				</button>
			</p>
			<p class="description">{{ strings.prompt }}</p>
		</td>
	</tr>
{% else %}
	<td>
		<p class="description">{{ strings.cant_remove_admins }}</p>
	</td>
{% endif %}