{% extends 'wizard/slides/common/base.twig' %}

{% block slide_body %}
	{{ slideMacros.slideTitle( 'Turn On Automatic WordPress Core File Scanner' ) }}

	<p>It looks like the WordPress Core File scanner isn't set to run automatically.</p>
	<p>You can adjust this setting using the form below.</p>
	<p>We recommend the final option - Repair & Report
	   (automatically restore any discovered files and send an email report).</p>

	<form class="form-horizontal icwp-wizard-form">
		{% set radiovalues =
			{
				'enabled_report_only': '<span>Report Only</span> - send email reports only.',
				'enabled_restore_report': '<span>Repair &amp; Report</span> - automatically restore any discovered files; send email report. (<em>recommended</em>)'
			}
		%}
		{{ slideMacros.formInput_Radio( 'enable_scan', radiovalues, 'Enable Automatic Scanning' ) }}

		{{ slideMacros.formInput_Hidden( 'wizard-step', 'wcfconfig' ) }}
		{{ slideMacros.formInput_Submit( 'Set Automatic Scan' ) }}
	</form>
{% endblock %}