{% extends 'wizard/slides/common/base_finish.twig' %}

{% block slide_body %}
	<h3>Finished: WordPress Core File Scanner</h3>
	<p>This is the end of Shield Security's WordPress Core File Scanner Wizard.</p>
	<p>Click the link below to return to the main WordPress dashboard.</p>
{% endblock %}