{% extends 'wizard/slides/common/base_start.twig' %}

{% block slide_body %}
	{{ slideMacros.slideTitle( 'Start: WordPress Core File Scanner' ) }}
	<p>What is the WordPress Core File Scanner?</p>
	<p>The purpose of this scanner is to detect malicious or
	   unintended changes to your Core WordPress files.</p>
	<p>Why is this important?</p>
	<p>Your files may already be compromised and you wouldn't know it.
	   The only way to know if your core WordPress files
	   have been modified is to compare them against the official files from WordPress.org.</p>
	<p>This scanner will do exactly that and report to you any files it finds to be different.</p>
	<p>If you're in doubt about the results, please discuss the findings with your hosting provider.</p>
{% endblock %}