<div class="row">
	<div class="col">
		<div class="alert alert-info" role="alert">
			<h4 class="alert-heading">Remember!</h4>
			<p>Hiding your WP login URL isn't "<strong>security</strong>" and doesn't make your site more secure.</p>
			<p>This practice falls under the category "<span class="fst-italic">security through obscurity</span>" and only hinders simplistic bots and users.</p>
			<p>Your login URL may be exposed in any number of unforeseen ways, typically through 3rd party plugins & themes,
			   and while we've done our utmost to keep your login hidden,
			   any security-related decisions you make should always assume that your login URL may be exposed at any time.</p>
			<p class="mb-0"><strong>Note to security researchers</strong>: if you find a way that the login URL is exposed, please report it to us and we'll see if it can be overcome.
			   Note that exposure of the login URL isn't considered a "vulnerability" in any way, since this isn't a security setting - it's cosmetic.</p>
		</div>
	</div>
</div>
